<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      > 

	<ui:composition template="../template/template2.xhtml">
		<ui:define name="titre_page">Régistre des transports</ui:define>
		
		<ui:define name="body">
		
	
		
			<h:form>
			
					       <div class="row row-xs">
					          <div class="col-sm-6 col-lg-3">
					            <div class="card card-status">
					              <div class="media">
					                <i class="fa fa-user fa-3x"></i>
					                <div class="media-body">
					                  <h1><h:outputText value="#{projetService.nbTransporteur}" ><f:convertNumber pattern="###,###"/></h:outputText></h1>
					                  <p>Transporteurs</p>
					                </div><!-- media-body -->
					              </div><!-- media -->
					            </div><!-- card -->
					          </div><!-- col-3 -->
					          <div class="col-sm-6 col-lg-3 mg-t-10 mg-sm-t-0">
					            <div class="card card-status">
					              <div class="media">
					                <i class="fa fa-bus fa-3x"></i>
					                <div class="media-body">
					                  <h1><h:outputText value="#{projetService.nbVoiture}" ><f:convertNumber pattern="###,###"/></h:outputText></h1>
					                  <p>Voitures</p>
					                </div><!-- media-body -->
					              </div><!-- media -->
					            </div><!-- card -->
					          </div><!-- col-3 -->
					          <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
					            <div class="card card-status">
					              <div class="media">
					                <i class="fa fa-file fa-3x"></i>
					                <div class="media-body">
					                  <h1><h:outputText value="#{projetService.nbLicenceActive}" ><f:convertNumber pattern="###,###"/></h:outputText></h1>
					                  <p>Licences actives</p>
					                </div><!-- media-body -->
					              </div><!-- media -->
					            </div><!-- card -->
					          </div><!-- col-3 -->
					          <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
					            <div class="card card-status">
					              <div class="media">
					                <i class="fa fa-file-o fa-3x"></i>
					                <div class="media-body">
					                  <h1><h:outputText value="#{projetService.nbLicencePerime}" ><f:convertNumber pattern="###,###"/></h:outputText></h1>
					                  <p>Licences expirées</p>
					                </div><!-- media-body -->
					              </div><!-- media -->
					            </div><!-- card -->
					          </div><!-- col-3 -->
					        </div><!-- row -->
					         <p></p> 

		
					
			        
			             			
				
			</h:form>
		

		
		</ui:define>
	</ui:composition>
</html>
