<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      >

	<ui:composition>

		    <h:form class="slim-navbar">
		      <div class="container">
		        <ul class="nav">
		          <li class="nav-item">
		            <h:commandLink  class="nav-link" action="#{projetService.versHome()}">
		              <i class="icon ion-ios-home-outline"></i>
		              <span>Accueil</span>
		            </h:commandLink>
		            
		          </li>
		          
		          <li class="nav-item with-sub">
		            <h:commandLink   id="M1" class="nav-link" >
		              <i class="icon ion-ios-people-outline"></i>
		              <span>Transporteurs</span>
		            </h:commandLink>
		            
		            <div class="sub-item">
		              <ul>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(2)}" id="M2"  action="#{transporteurService.versAddTransporteur()}">Ajouter un transporteur</h:commandLink></li>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(3)}" id="M3"  action="#{transporteurService.versListeTransporteur()}">Liste des transporteurs</h:commandLink></li>
		                <li><h:commandLink  action="#{transporteurService.versRechercheTransporteur()}">Recherche</h:commandLink></li>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(25)}" id="M25"  action="#{transporteurService.versAffecterTransporteur()}">Gestion portefeuille</h:commandLink></li>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(5)}" id="M5"  action="#{transporteurService.versSuspendreTransporteur()}">Suspension</h:commandLink></li>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(6)}" id="M6"  action="#{transporteurService.versMajTransporteur()}">Mise à jour</h:commandLink></li>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(26)}"   action="#{transporteurService.versPortefeuille()}">Mon portefeuille</h:commandLink></li>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(28)}"   action="#{statService.versActiviteGestionnaire()}">Suivi des gestionnaires</h:commandLink></li>
		              </ul>
		            </div><!-- dropdown-menu -->
		          </li>
		          
		          <li class="nav-item with-sub">
		            <h:commandLink   id="M7"  class="nav-link" >
		              <i class="icon ion-ios-navigate-outline"></i>
		              <span>Voitures</span>
		            </h:commandLink>
		            <div class="sub-item">
		              <ul>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(8)}" id="M8"  action="#{voitureService.versAddVoiture()}">Ajouter une voiture</h:commandLink></li>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(9)}" id="M9"  action="#{voitureService.versListVoiture()}">Liste des voitures</h:commandLink></li>
		                <li><h:commandLink   id="M10"  action="#{voitureService.versRechercheVoiture()}">Recherche de voitures</h:commandLink></li>
		              </ul>
		            </div><!-- dropdown-menu -->
		          </li>
		          <li class="nav-item with-sub">
		            <h:commandLink  id="M11"  class="nav-link" >
		              <i class="icon ion-ios-bookmarks-outline"></i>
		              <span>Licences</span>
		            </h:commandLink>
		            <div class="sub-item">
		              <ul>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(12)}" id="M12"  action="#{voitureService.versLicenceActive()}">Licences actives</h:commandLink></li>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(13)}" id="M13"  action="#{voitureService.versLicencePerime()}">Licences expirées</h:commandLink></li>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(14)}" id="M14"  action="#{voitureService.versRenouvellement()}">Renouvellement</h:commandLink></li>
		                <li><h:commandLink   action="#{voitureService.versRechercheLicence()}">Recherche de licence</h:commandLink></li>
		                <li><h:commandLink rendered="#{parametreService.habilitation(27)}" action="#{statService.versAnalyseFinanciere()}">Analyse financière</h:commandLink></li>
		              
		              </ul>
		            </div><!-- dropdown-menu -->
		          </li>		          
		          
		          <li class="nav-item  with-sub">
		            <h:commandLink   id="M16"  class="nav-link" >
		              <i class="icon ion-ios-cog-outline"></i>
		              <span>Configuration</span>
		            </h:commandLink>
		            <div class="sub-item">
		              <ul>
		                <li><h:commandLink  action="#{parametreService.versProfil()}">Mon profil</h:commandLink></li>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(17)}" id="M17"  action="#{parametreService.versListUser()}">Utilisateurs</h:commandLink></li>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(18)}" id="M18"  action="#{typeService.versAddNatureActivite()}">Nature de l'activité</h:commandLink></li>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(19)}" id="M19"  action="#{typeService.versAddTypeSociete()}">Type de société</h:commandLink></li>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(20)}" id="M20"  action="#{zoneGeographiqueService.versAddProvince()}">Provinces</h:commandLink></li>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(21)}" id="M21"  action="#{zoneGeographiqueService.versAddVille()}">Villes</h:commandLink></li>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(22)}" id="M22"  action="#{typeService.versAddMarque()}">Marque de voiture</h:commandLink></li>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(23)}" id="M23"  action="#{typeService.versAddModele()}">Type de voiture</h:commandLink></li>
		                <li><h:commandLink  rendered="#{parametreService.habilitation(24)}" id="M24"  action="#{parametreService.versListProfil()}">Profils</h:commandLink></li>
		              </ul>		              
		              
		            </div>		            
		          </li>		          
		        </ul>
		      </div><!-- container -->
		    </h:form><!-- slim-navbar -->
 

	</ui:composition>
 
</html>
