<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels"/>
    <meta name="twitter:creator" content="@themepixels"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Slim"/>
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard."/>
    <meta name="twitter:image" content="http://themepixels.me/slim/img/slim-social.png"/>

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/slim"/>
    <meta property="og:title" content="Slim"/>
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard."/>

    <meta property="og:image" content="http://themepixels.me/slim/img/slim-social.png"/>
    <meta property="og:image:secure_url" content="http://themepixels.me/slim/img/slim-social.png"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="600"/>

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard."/>
    <meta name="author" content="ThemePixels"/>

    <title></title>

    <!-- vendor css -->
    <link href="/transportsoft/style2/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="/transportsoft/style2/lib/Ionicons/css/ionicons.css" rel="stylesheet"/>
    <link href="/transportsoft/style2/lib/fullcalendar/css/fullcalendar.css" rel="stylesheet"/>
    <link href="/transportsoft/style2/lib/datatables/css/jquery.dataTables.css" rel="stylesheet"/>
    
        <!-- vendor css -->
    <link href="/transportsoft/style2/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="/transportsoft/style2/lib/Ionicons/css/ionicons.css" rel="stylesheet"/>

    <!-- Slim CSS -->
    <link rel="stylesheet" href="/transportsoft/style2/css/slim.css"/>
</h:head> 
<body> 

<!-- 		<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
 -->
		 
		<p:dialog  widgetVar="statusDialog" modal="false" draggable="false"  dynamic="true"  responsive="false"  closable="false" resizable="false" showHeader="false"/>
		
    <div class="slim-header">
      <div class="container">
        <h:form class="slim-header-left">
          <h2 class="slim-logo"><h:commandLink action="#{projetService.versHome()}" >GTR<span>.</span></h:commandLink></h2>

<!--           <div class="search-box"> -->
<!--             <input type="text" class="form-control" placeholder="Search"/> -->
<!--             <button class="btn btn-primary"><i class="fa fa-search"></i></button> -->
<!--           </div>search-box -->
        </h:form><!-- slim-header-left -->
        <div class="slim-header-right">
        
		<div class="dropdown dropdown-b">
            <a href="" class="header-notification" data-toggle="dropdown" aria-expanded="false">
              <i class="icon ion-ios-bell-outline"></i>
              <p:outputPanel rendered="#{not empty projetService.listLicence2}"><span class="indicator"></span></p:outputPanel>
            </a>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(15px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
              <div class="dropdown-menu-header">
                <h6 class="dropdown-menu-title"><h:outputText value="#{(not empty projetService.listLicence2)?'Licence(s) expirant dans les 30 jours':'Aucune alerte de licence'}"/></h6>
                <div>
<!--                   <a href="">Mark All as Read</a>
                  <a href="">Settings</a> -->
                </div>
              </div><!-- dropdown-menu-header -->
              <div class="dropdown-list">
                <!-- loop starts here -->
                <ui:repeat var="lic" value="#{projetService.listLicence2}">
	                <a href="" class="dropdown-link">
	                  <div class="media">
	                    <div class="media-body">
	                      <p><strong>#{lic.voiture.transporteur.libelle}</strong> - #{lic.voiture.modele.typeParent.libelle} #{lic.voiture.modele.libelle} #{lic.voiture.numeroImmat}</p>
	                      <span>Licence de #{lic.typeActivite.libelle}, expire le <h:outputText value="#{lic.dateFin}"><f:convertDateTime pattern="dd/MM/yyyy" /></h:outputText></span>
	                    </div>
	                  </div><!-- media -->
	                </a>
                </ui:repeat>
                <!-- loop ends here -->
                
                
                
               <!--  <div class="dropdown-list-footer">
                  <a href="page-notifications.html"><i class="fa fa-angle-down"></i> Show All Notifications</a>
                </div> -->
              </div><!-- dropdown-list -->
            </div><!-- dropdown-menu-right -->
          </div>
          
          
          
          
          
          
          
          <div class="dropdown dropdown-c">
            <a href="#" class="logged-user" data-toggle="dropdown">
              <img src="http://via.placeholder.com/500x500" alt=""/>
              <span>#{login.userConnecte.personne.prenom}</span>
              <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <h:form class="nav">
                <!-- <h:commandLink  class="nav-link"><i class="icon ion-person"></i> Mon profile</h:commandLink> -->
                <h:commandLink action="#{login.logout()}" class="nav-link"><i class="icon ion-forward"></i> Déconnexion</h:commandLink>
              </h:form>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </div><!-- header-right -->
      </div><!-- container -->
    </div><!-- slim-header -->

    <!-- **************************MENU**************************** -->
    
    <ui:include src="/template/menu2.xhtml" />
    
    
    <!-- ********************************************************** -->

    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
<!--           <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page"><ui:insert name="titre"></ui:insert></li>
          </ol> -->
          <h6 class="slim-pagetitle"><ui:insert name="titre">Bienvenu sur le régistre de transport</ui:insert></h6>
		            
        </div><!-- slim-pageheader -->
		<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
        <!-- **********************CONTENU*********************************** -->
		<ui:insert name="body"></ui:insert>
		<p:messages id="messages2" showDetail="true" autoUpdate="true" closable="true" />
		<!-- **************************************************************** -->
      

      </div><!-- container -->
    </div><!-- slim-mainpanel -->

    <div class="slim-footer">
      <div class="container">
        <p>Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Designed by: <a href="">WebTeam Dynamic</a></p>
      </div><!-- container -->
    </div><!-- slim-footer -->
    
	<script language="javascript">
	   function apercuPrint() {
		   var left = (screen.width/2)-(800/2);
		   var top = (screen.height/2)-(530/2);
	       window.open("/transportsoft/template/print.xhtml","Localisation","adressbar=no, status=no, scrollbars=no, menubar=no, width=870, height=530, top="+top+", left="+left);
	   }	
	</script>	    

   <!--  <script src="/transportsoft/style2/lib/jquery/js/jquery.js"></script> -->
    <script src="/transportsoft/style2/lib/popper.js/js/popper.js"></script>
    <script src="/transportsoft/style2/lib/bootstrap/js/bootstrap.js"></script>
    <script src="/transportsoft/style2/lib/jquery.cookie/js/jquery.cookie.js"></script>
    <script src="/transportsoft/style2/lib/moment/js/moment.js"></script>
    <script src="/transportsoft/style2/lib/fullcalendar/js/fullcalendar.js"></script>
    <script src="/transportsoft/style2/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="/transportsoft/style2/lib/datatables-responsive/js/dataTables.responsive.js"></script>

    <script src="/transportsoft/style2/js/slim.js"></script>
    <script src="/transportsoft/style2/js/sweetalert.js"></script> 
    

    
    
    
    
    <script>
      $(function(){
        'use strict';

        $('#datatable1').DataTable({
          responsive: true,
          language: {
            searchPlaceholder: 'Recherche...',
            sSearch: '',
            lengthMenu: '_MENU_ items/page',
          }
        });

        $('#datatable2').DataTable({
            responsive: true,
            language: {
              searchPlaceholder: 'Recherche...',
              sSearch: '',
              lengthMenu: '_MENU_ items/page',
            }
          });

        $('#datatable3').DataTable({
            responsive: true,
            language: {
              searchPlaceholder: 'Recherche...',
              sSearch: '',
              lengthMenu: '_MENU_ items/page',
            }
          });    

        $('#datatable4').DataTable({
            responsive: true,
            language: {
              searchPlaceholder: 'Recherche...',
              sSearch: '',
              lengthMenu: '_MENU_ items/page',
            }
          });    

        $('#datatable5').DataTable({
            responsive: true,
            language: {
              searchPlaceholder: 'Recherche...',
              sSearch: '',
              lengthMenu: '_MENU_ items/page',
            }
          });                   

        $('#datatable6').DataTable({
          bLengthChange: false,
          searching: false,
          responsive: true
        });

        // Select2
        //$('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });

      });

   	var resetTime_int;
	function resetTimer(){
	    if(resetTime_int) window.clearTimeout(resetTime_int)
	    resetTime_int=window.setTimeout(
			function (){
				swal("Votre session est inactive... vous allez être déconnecté.").then((value) => {location.reload();})
		    	}
	    , 1000*60*29)
	}

	resetTimer();
	//document.onmousemove=resetTimer;
	document.onkeyup=resetTimer;
      
    </script>    
    <script>
      $(function() {
        'use strict';

        $('#fullCalendar').fullCalendar({
          header: {
            left:   'prev',
            center: 'title',
            right:  'today next'
          }
        });
      });

    </script>
</body> 
</html>
