<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      xmlns:b="http://bootsfaces.net/ui"> 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Liste des  types de société</ui:define>
		
		<ui:define name="body">
		
					<h:form id="form" class="section-wrapper">
			          <label class="section-title">Créer un type de société</label>
			
			          <div class="form-layout">
			            <div class="row mg-b-25">
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Code: <span class="tx-danger">*</span></label>
			                  <h:inputText readonly="#{typeService.type.id  ne null}" required="true" requiredMessage="type ?" value="#{typeService.type.code}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"  />
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label"> Type de société: <span class="tx-danger">*</span></label>
			                  <h:inputText required="true"  requiredMessage="Identifiant ?" value="#{typeService.type.libelle}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->
			        
			              			              	              
			              
			            </div><!-- row -->
			
			            <div class="form-layout-footer">
			              <h:commandLink  update="form" action="#{typeService.saveType()}" class="btn btn-primary bd-0">Enregistrer</h:commandLink>
			              <h:outputText value=" " />
			              <h:commandLink update="form"  action="#{typeService.initType()}" class="btn btn-secondary bd-0">Annuler</h:commandLink>
			            </div><!-- form-layout-footer -->
			          </div><!-- form-layout -->
			        </h:form><!-- section-wrapper -->			
		
				<br/>
		
		        <h:form class="section-wrapper">
		
		          <div class="table-wrapper">
		            <table id="datatable1" class="table display responsive nowrap">
		              <thead>
		                <tr>
		                  <th class="wd-20p">Code</th>
		                  <th class="wd-15p">Type de société</th>
		                   <th class="wd-10p">Mettre à jour</th>
		                  
		                </tr>
		              </thead>
		              <tbody>
		 				  <ui:repeat var="cl" value="#{referentielService.listTypeFormeJurique}">
			                <tr>
			                  <td><h:outputText value="#{cl.code}"/></td>
			                  <td><h:outputText value="#{cl.libelle}"/></td>
			                  
			                  <td>
			                  		<h:commandLink update="form">
			                  			<f:setPropertyActionListener value="#{cl}" target="#{typeService.type}"/>
			                  			<i class="fa fa-edit"></i>
			                  		</h:commandLink>
			                  </td>
			                </tr>
		                  </ui:repeat>
		              </tbody>
		            </table>
		          </div><!-- table-wrapper -->
		        </h:form><!-- section-wrapper -->			
		
		</ui:define>
	</ui:composition>
</html>
