<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      > 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Liste des villes</ui:define>
		
		<ui:define name="body">
		
					<h:form id="form" class="section-wrapper">
			          <label class="section-title">Créer une ville</label>
			
			          <div class="form-layout">
			            <div class="row mg-b-25">
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Code: <span class="tx-danger">*</span></label>
			                  <h:inputText readonly="#{zoneGeographiqueService.ville.id  ne null}" required="true" requiredMessage="Code ?" value="#{zoneGeographiqueService.ville.code}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"  />
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label"> Ville: <span class="tx-danger">*</span></label>
			                  <h:inputText required="true"  requiredMessage="Ville ?" value="#{zoneGeographiqueService.ville.libelle}" styleClass="form-control"  onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->
			        
			              			              	              
			               <div class="col-lg-4">
			                <div class="form-group">
                                 <label class="form-control-label"> Province: <span class="tx-danger">*</span></label>
									  <h:selectOneMenu required="true"  requiredMessage="Province ?" value="#{zoneGeographiqueService.ville.province}" styleClass="form-control" converter="provinceConverter">
									  	  <f:selectItem itemLabel="Selectionnez une province" itemValue="" noSelectionOption="false" />
										  <f:selectItems value="#{referentielService.listProvince}" var="c" itemValue="#{c}" itemLabel="#{c.libelle}"/>
									  </h:selectOneMenu>
			                </div>
			              </div><!-- col-4 -->
			        
			            </div><!-- row -->
			
			            <div class="form-layout-footer">
			              <h:commandLink  update="form" action="#{zoneGeographiqueService.saveVille()}" class="btn btn-primary bd-0">Enregistrer</h:commandLink>
			              <h:outputText value=" " />
			              <h:commandLink update="form"  action="#{zoneGeographiqueService.initVille()}" class="btn btn-secondary bd-0">Annuler</h:commandLink>
			            </div><!-- form-layout-footer -->
			          </div><!-- form-layout -->
			        </h:form><!-- section-wrapper -->			
		
				<br/>
		
		        <h:form class="section-wrapper">
		
		          <div class="table-wrapper">
		            <table id="datatable1" class="table display responsive nowrap dataTable no-footer dtr-inline collapsed">
		              <thead>
		                <tr>
		                   <th class="wd-5p">Code</th>
		                   <th class="wd-45p">Ville</th>
		                   <th class="wd-40p">Province</th>
		                   <th class="wd-10p">Mettre à jour</th>
		                </tr>
		              </thead>
		              <tbody>
		 				  <ui:repeat var="cl" value="#{referentielService.listVille}">
			                <tr>
			                  <td><h:outputText value="#{cl.code}"/></td>
			                  <td><h:outputText value="#{cl.libelle}"/></td>
			                  <td><h:outputText value="#{cl.province.libelle}"/></td>
			                  <td>
			                  		<h:commandLink update="form">
			                  			<f:setPropertyActionListener value="#{cl}" target="#{zoneGeographiqueService.ville}"/>
			                  			<i class="fa fa-edit"></i>
			                  		</h:commandLink>
			                  </td>
			                </tr>
		                  </ui:repeat>
		              </tbody>
		            </table>
		          </div><!-- table-wrapper -->
		        </h:form><!-- section-wrapper -->			
		
		</ui:define>
	</ui:composition>
</html>
