<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      xmlns:b="http://bootsfaces.net/ui">

	<ui:composition>
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Nom: <span class="tx-danger">*</span></label>
			                  <h:inputText required="true" requiredMessage="Nom ?" value="#{projetService.personne.nom}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Prénom: </label>
			                  <h:inputText required="false" requiredMessage="Prénom ?" value="#{projetService.personne.prenom}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->	
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Date de naissance (jj/mm/yyyy): </label>
			                  <h:inputText required="false" converterMessage="Vérifiez le format de la date de naissance..." requiredMessage="Date de naissance ?" value="#{projetService.personne.dateNaissance}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:inputText>
			                </div>
			              </div><!-- col-4 -->	
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Adresse mail: </label>
			                  <h:inputText required="false" requiredMessage="Mail ?" value="#{projetService.personne.mail}" styleClass="form-control"/>
			                </div>
			              </div><!-- col-4 -->	
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Numéro de téléphone: <span class="tx-danger">*</span></label>
			                  <h:inputText required="true" requiredMessage="N° Tél. ?" value="#{projetService.personne.telephone}" styleClass="form-control"/>
			                </div>
			              </div><!-- col-4 -->
		              
			              			              			              
	
	</ui:composition>
</html>