<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      xmlns:b="http://bootsfaces.net/ui">

	<ui:composition>
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Numéro de villa: </label>
			                  <h:inputText required="false" requiredMessage="N° villa ?" value="#{projetService.adresse.numeroVilla}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Nom ou numéro de rue: </label>
			                  <h:inputText required="false" requiredMessage="N° rue ?" value="#{projetService.adresse.rue}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->	
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Boite postale: </label>
			                  <h:inputText required="false" requiredMessage="BP ?" value="#{projetService.adresse.bp}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->	
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Lieu dit: </label>
			                  <h:inputText required="false" requiredMessage="Lieu dit ?" value="#{projetService.adresse.lieuDit}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->	

<!-- 			              <div class="col-lg-4">
			                <div class="form-group mg-b-10-force">
			                  <label class="form-control-label">Province: <span class="tx-danger">*</span></label>
			                  <h:selectOneMenu  immediate="true"  value="#{projetService.province}" styleClass="form-control" converter="provinceConverter">
			                  		<f:ajax event="valueChange" render="menuProduit" execute="@this"/>
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{referentielService.listProvince}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}"/>
			                  </h:selectOneMenu>
			                </div>
			              </div> --><!-- col-4 -->		
			              
			              
<!-- 			              <div class="col-lg-4">
			                <div class="form-group mg-b-10-force">
			                  <label class="form-control-label">Ville: <span class="tx-danger">*</span></label>
			                  <h:selectOneMenu immediate="true" id="menuProduit" required="true" requiredMessage="Ville ?" value="#{projetService.adresse.ville}" styleClass="form-control" converter="villeConverter">
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{projetService.province.listVille}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}" />
			                  </h:selectOneMenu>
			                </div>
			              </div> --><!-- col-4 -->		
			              
			              
			              <div class="col-lg-4">
			                <div class="form-group mg-b-10-force">
			                  <label class="form-control-label">Ville: <span class="tx-danger">*</span></label>
			                  <h:selectOneMenu  id="menuProduit"  value="#{projetService.adresse.ville}" styleClass="form-control" converter="villeConverter">
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{referentielService.listVille}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}" />
			                  </h:selectOneMenu>
			                </div>
			              </div><!-- col-4 -->				              		              			              
	
	</ui:composition>
</html>