<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Liste des profils</ui:define>
		
		<ui:define name="body">
		
					<h:form id="form" class="section-wrapper">
			          <label class="section-title">Créer un profil</label>
			
			          <div class="form-layout">
			            <div class="row mg-b-25">
			            
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Code: <span class="tx-danger">*</span></label>
			                  <h:inputText  required="true" requiredMessage="Code du profil ?" value="#{parametreService.profil.code}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->			            
			            
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Libelle: <span class="tx-danger">*</span></label>
			                  <h:inputText  required="true" requiredMessage="Libellé du profil ?" value="#{parametreService.profil.libelle}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->
			              
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Rôles: <span class="tx-danger">*</span></label>
					                <p:tree value="#{parametreService.arbreRole}" var="node"  selectionMode="checkbox" selection="#{parametreService.roleChoisi}" >
								        <p:treeNode >
								            <h:outputText value="#{node.libelle}"  />
								        </p:treeNode>
								    </p:tree>				                  
			                </div>
			              </div><!-- col-4 -->				              
			              
			            </div><!-- row -->
			
			            <div class="form-layout-footer">
			              <h:commandLink action="#{parametreService.saveProfil()}" update="form"  class="btn btn-primary bd-0">Enregistrer</h:commandLink>
			              <h:outputText value=" " />
			              <h:commandLink immediate="true" action="#{parametreService.versListProfil()}" update="form"   class="btn btn-secondary bd-0">Annuler</h:commandLink>
			            </div><!-- form-layout-footer -->
			          </div><!-- form-layout -->
			        </h:form><!-- section-wrapper -->			
		
				<br/>		
		
		        <h:form class="section-wrapper">
		
		          <div class="table-wrapper">
		            <table id="datatable1" class="table display responsive nowrap">
		              <thead>
		                <tr>
		                  <th class="wd-20p">Code</th>
		                  <th class="wd-15p">Libelle</th>
		                  <th class="wd-15p">Rôles</th>
		                  <th class="wd-15p">Mettre à jour</th>
		                </tr>
		              </thead>
		              <tbody>
		 				  <ui:repeat var="cl" value="#{referentielService.listProfil}">
			                <tr>
			                  <td><h:outputText value="#{cl.code}"/></td>
			                  <td><h:outputText value="#{cl.libelle}"/></td>
			                  <td><h:outputText value="#{cl.nbRoles}"/></td>
			                  <td>
			                  		<h:commandLink action="#{parametreService.profilEncours(cl)}">
			                  			<i class="fa fa-edit"></i>
			                  		</h:commandLink>
			                  </td>
			                </tr>
		                  </ui:repeat>
		              </tbody>
		            </table>
		          </div><!-- table-wrapper -->
		        </h:form><!-- section-wrapper -->	
		        
		        
		    
		</ui:define>
	</ui:composition>
</html>
