<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      xmlns:b="http://bootsfaces.net/ui"> 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Liste des utilisateurs</ui:define>
		
		<ui:define name="body">
		
					<h:form id="form" class="section-wrapper">
			          <label class="section-title">Créer un utilisateur</label>
			
			          <div class="form-layout">
			            <div class="row mg-b-25">
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Identifiant: <span class="tx-danger">*</span></label>
			                  <h:inputText readonly="#{parametreService.utilisateur.id ne null}" required="true" requiredMessage="Identifiant ?" value="#{parametreService.utilisateur.login}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Nom: <span class="tx-danger">*</span></label>
			                  <h:inputText required="true"  requiredMessage="Identifiant ?" value="#{projetService.personne.nom}" styleClass="form-control"  onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Prénom: <span class="tx-danger">*</span></label>
			                  <h:inputText required="true"  requiredMessage="Prénom ?" value="#{projetService.personne.prenom}" styleClass="form-control"  onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Adresse électronique: </label>
			                  <h:inputText required="false"  requiredMessage="Adresse électronique ?" value="#{projetService.personne.mail}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->		
			              <div class="col-lg-4">
			                <div class="form-group mg-b-10-force">
			                  <label class="form-control-label">Profil: <span class="tx-danger">*</span></label>
			                  <h:selectOneMenu required="true" requiredMessage="Profil ?" value="#{parametreService.utilisateur.profil}" styleClass="form-control select2" converter="profilConverter">
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{referentielService.listProfil}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}"/>
			                  </h:selectOneMenu>
			                </div>
			              </div><!-- col-4 -->	 			              			              	              
			              
			            </div><!-- row -->
			
			            <div class="form-layout-footer">
			              <h:commandLink  update="form" action="#{parametreService.saveUser()}" class="btn btn-primary bd-0">Enregistrer</h:commandLink>
			              <h:outputText value=" " />
			              <h:commandLink update="form"  action="#{parametreService.initUser()}" class="btn btn-secondary bd-0">Annuler</h:commandLink>
			            </div><!-- form-layout-footer -->
			          </div><!-- form-layout -->
			        </h:form><!-- section-wrapper -->			
		
				<br/>
		
		        <h:form class="section-wrapper">
		
		          <div class="table-wrapper">
		            <table id="datatable1" class="table display responsive nowrap">
		              <thead>
		                <tr>
		                  <th class="wd-10p">Login</th>
		                  <th class="wd-15p">Nom</th>
		                  <th class="wd-10p">Profil</th>
		                  <th class="wd-10p">Date création</th>
		                  <th class="wd-10p">Dernière connexion</th>
		                  <th class="wd-10p">Mettre à jour</th>
		                  <th class="wd-10p">Réinitialiser</th>
		                </tr>
		              </thead>
		              <tbody>
		 				  <ui:repeat var="cl" value="#{parametreService.listUser}">
			                <tr>
			                  <td><h:outputText value="#{cl.login}"/></td>
			                  <td><h:outputText value="#{cl.personne.nomComplet}"/></td>
			                  <td><h:outputText value="#{cl.profil.libelle}"/></td>
			                  <td><h:outputText value="#{cl.dateCreation}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText></td>
			                  <td><h:outputText value="#{cl.dateDerniereConn}"><f:convertDateTime pattern="dd/MM/yyyy hh:mm"/></h:outputText></td>
			                  <td>
			                  		<h:commandLink update="form">
			                  			<f:setPropertyActionListener value="#{cl}" target="#{parametreService.utilisateur}"/>
			                  			<f:setPropertyActionListener value="#{cl.personne}" target="#{projetService.personne}"/>
			                  			<i class="fa fa-edit"></i>
			                  		</h:commandLink>
			                  </td>
			                  <td><h:commandLink action="#{parametreService.reinitialiserPasswordUser(cl)}" ><i class="fa fa-shield"></i></h:commandLink></td>
			                </tr>
		                  </ui:repeat>
		              </tbody>
		            </table>
		          </div><!-- table-wrapper -->
		        </h:form><!-- section-wrapper -->			
		
		</ui:define>
	</ui:composition>
</html>
