<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"> 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Mon profil</ui:define>
		
		<ui:define name="body">
		
					<h:form  id="form" class="section-wrapper">
			          <label class="section-title">Mes informations</label>
			
			          <div class="form-layout">
			            <div class="row mg-b-25">
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Identifiant: </label>
			                  <h:outputText value="#{login.userConnecte.login}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Nom: </label>
			                  <h:outputText  value="#{login.userConnecte.personne.nom}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Prénom: </label>
			                  <h:outputText  value="#{login.userConnecte.personne.prenom}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Adresse électronique: </label>
			                  <h:outputText  value="#{login.userConnecte.personne.mail}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->		
			              
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Profil: </label>
			                  <h:outputText  value="#{login.userConnecte.profil.libelle}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->	
			              
			              
			            </div><!-- row -->
			            
			          </div><!-- form-layout -->
			    
			          <label class="section-title">Modifier mon mot de passe</label>
			
			          <div class="form-layout">
			            <div class="row mg-b-25">
			            
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Nouveau mot de passe : <span class="tx-danger">*</span></label>
			                  <p:password id="pwd1" match="pwd2" validatorMessage="Les mots de passe saisis ne sont pas identiques..." promptLabel="Veuillez saisir le nouveau mot de passe" goodLabel="Mot de passe bon" weakLabel="Mot de passe faible" strongLabel="Mot de passe fort" feedback="true" required="true" requiredMessage="Nouveau mot de passe ?" value="#{login.userConnecte.mdpTemp}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->			            
			            
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Confirmer le mot de passe: <span class="tx-danger">*</span></label>
			                  <p:password id="pwd2"  required="true"  value="#{login.userConnecte.mdpTemp}" requiredMessage="Confirmer le mot de passe" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->
			              
			            </div><!-- row -->
			
			            <div class="form-layout-footer">
			              <h:commandLink action="#{parametreService.modifierMotdepasse()}" update="form"  class="btn btn-primary bd-0">Modifier</h:commandLink>
			            </div><!-- form-layout-footer -->
			          </div><!-- form-layout -->
			        </h:form><!-- section-wrapper -->				        		
		
		</ui:define>
	</ui:composition>
</html>
