<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      xmlns:b="http://bootsfaces.net/ui"> 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Mon profil</ui:define>
		
		<ui:define name="body">
		
					<h:form id="form" class="section-wrapper">
			          <label class="section-title">Mes informations</label>
			
			          <div class="form-layout">
			            <div class="row mg-b-25">
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Identifiant: </label>
			                  <h:outputText  value="#{login.userConnecte.login}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Nom: </label>
			                  <h:outputText  value="#{login.userConnecte.nom}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Prénom: </label>
			                  <h:outputText  value="#{login.userConnecte.prenom}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Adresse électronique: </label>
			                  <h:outputText  value="#{login.userConnecte.mail}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->		
			              			              	              
			              
			            </div><!-- row -->
			            
			            
			            <label class="section-title">Modifier mon mot de passe</label>
			            
				          <div class="form-layout">
				            <div class="row mg-b-25">
				              <div class="col-lg-4">
				                <div class="form-group">
				                  <label class="form-control-label">Nouveau mot de passe: </label>
				                  <h:inputSecret required="true" requiredMessage="Nouveau mot de passe ?" value="#{login.userConnecte.mdpTemp}" styleClass="form-control" />
				                </div>
				              </div><!-- col-4 -->		
				            </div>
				          </div>	            
			
			            <div class="form-layout-footer">
			              <h:commandLink  update="form" action="#{parametreService.majPasswordUser(login.userConnecte)}" class="btn btn-primary bd-0">Modifier le mot de passe</h:commandLink>
			            </div><!-- form-layout-footer -->
			          </div><!-- form-layout -->
			        </h:form><!-- section-wrapper -->			
		
				<br/>
		
		        		
		
		</ui:define>
	</ui:composition>
</html>
