<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      > 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Ajouter un transporteur</ui:define>
		
		<ui:define name="body">
		
		
					<h:form id="form" class="section-wrapper">
			          <label class="section-title">Fiche circuit</label>
			
			          <div class="form-layout">
			            <div class="row mg-b-25">
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">N° inscription: <span class="tx-danger">*</span></label>
			                  <h:inputText required="true" requiredMessage="N° inscription ?" value="#{transporteurService.transporteur.code}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->			            
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Raison sociale: <span class="tx-danger">*</span></label>
			                  <h:inputText required="true" requiredMessage="Raison sociale ?" value="#{transporteurService.transporteur.libelle}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->

			              <div class="col-lg-4">
			                <div class="form-group mg-b-10-force">
			                  <label class="form-control-label">Forme juridique: <span class="tx-danger"><!-- * --></span></label>
			                  <h:selectOneMenu required="false" requiredMessage="Forme juridique ?" value="#{transporteurService.transporteur.formeJuridique}" styleClass="form-control select2" converter="typeConverter">
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{referentielService.listTypeFormeJurique}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}"/>
			                  </h:selectOneMenu>
			                </div>
			              </div><!-- col-4 -->	   
			            
			            </div><!-- row -->
			            

			            
			            <label class="section-title">Adresse de l'entreprise</label>
			            <div class="row mg-b-25">
			              
			              <ui:include src="/private/projet/panelAdresse.xhtml" />	
			              
			            </div>		
			            
			            <label class="section-title">Gérant</label>
			            <div class="row mg-b-25">
			              
			              <ui:include src="/private/projet/panelPersonne.xhtml" />	
			              
			            </div>				                        
			
			            <div class="form-layout-footer">
			              <h:commandLink rendered="#{transporteurService.transporteur.id eq null}" update="form" action="#{transporteurService.saveTransporteur()}" class="btn btn-primary bd-0">Enregistrer</h:commandLink>
			              <h:commandLink rendered="#{transporteurService.transporteur.id ne null}" action="#{voitureService.versAddVoiture()}" class="btn btn-primary bd-0">Ajouter des voitures</h:commandLink>
			              <h:outputText value=" " />
			              <h:commandLink rendered="#{transporteurService.transporteur.id eq null}" update="form" action="#{transporteurService.initTransporteur()}" class="btn btn-secondary bd-0">Annuler</h:commandLink>
			              <h:commandLink rendered="#{transporteurService.transporteur.id ne null}" update="form" action="#{transporteurService.versAddTransporteur()}" class="btn btn-secondary bd-0">Nouveau</h:commandLink>
			            
			            </div><!-- form-layout-footer -->
			          </div><!-- form-layout -->
			        </h:form><!-- section-wrapper -->			
				
			
		
		</ui:define>
	</ui:composition>
</html>
