<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      > 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">#{transporteurService.transporteur.libelle}</ui:define>
		
		<ui:define name="body">
		
		
					<h:form id="form" class="section-wrapper">
					<h:outputText rendered="#{!transporteurService.transporteur.active}" styleClass="alert alert-solid alert-danger" value="Transporteur suspendu : #{transporteurService.transporteur.commentaire}"/>
			          <label class="section-title">Détails</label>
			
			          <div class="form-layout">
			            <div class="row mg-b-25">
			              
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Code: </label>
			                  <h:outputText   value="#{transporteurService.transporteur.code}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-3">
			                <div class="form-group mg-b-10-force">
			                  <label class="form-control-label">Forme juridique: </label>
			                  <h:outputText  value="#{transporteurService.transporteur.formeJuridique.libelle}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->	
			              
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Date d'inscription au régistre: </label>
			                  <h:outputText  value="#{transporteurService.transporteur.dateCreation}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:outputText>
			                </div>
			              </div><!-- col-4 -->	
			              
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Créateur: </label>
			                  <h:outputText  value="#{transporteurService.transporteur.userCreation.login}" styleClass="form-control"/>
			                </div>
			              </div><!-- col-4 -->				              			                 
			            
			            </div><!-- row -->
			            

			            
			            <label class="section-title">Adresse de l'entreprise</label>
			            <div class="row mg-b-25">
			              
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Numéro de villa: </label>
			                  <h:outputText  value="#{transporteurService.transporteur.adresse.numeroVilla}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Nom ou numéro de rue: </label>
			                  <h:outputText  value="#{transporteurService.transporteur.adresse.rue}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->	
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Boite postale: </label>
			                  <h:outputText   value="#{transporteurService.transporteur.adresse.bp}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->	
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Lieu dit: </label>
			                  <h:outputText  value="#{transporteurService.transporteur.adresse.lieuDit}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->	
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Localité: </label>
			                  <h:outputText  value="#{transporteurService.transporteur.adresse.ville.libelle}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->				              
		
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Province: </label>
			                  <h:outputText  value="#{transporteurService.transporteur.adresse.ville.province.libelle}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->				              
			            </div>		
			            
			            <label class="section-title">Gérant</label>
			            <div class="row mg-b-25">
			              
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Nom: </label>
			                  <h:outputText  value="#{transporteurService.transporteur.gerant.nom}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Prénom: </label>
			                  <h:outputText  value="#{transporteurService.transporteur.gerant.prenom}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->	
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Date de naissance: </label>
			                  <h:outputText  value="#{transporteurService.transporteur.gerant.dateNaissance}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:outputText>
			                </div>
			              </div><!-- col-4 -->	
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Adresse mail: </label>
			                  <h:outputText  value="#{transporteurService.transporteur.gerant.mail}" styleClass="form-control"/>
			                </div>
			              </div><!-- col-4 -->	
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">N° de téléphone: </label>
			                  <h:outputText  value="#{transporteurService.transporteur.gerant.telephone}" styleClass="form-control"/>
			                </div>
			              </div><!-- col-4 -->	
			              
			            </div>				                        
			            
			          </div><!-- form-layout -->
			          
		          <label class="section-title">Parc automobile</label>
		
		          <div class="table-wrapper">
		            <table id="datatable1" class="table display responsive nowrap">
		              <thead>
		                <tr>
		                  <th class="wd-15p">Marque</th>
		                  <th class="wd-20p">Type</th>
		                  <th class="wd-10p">Année</th>
		                  <th class="wd-10p">Places</th>
		                  <th class="wd-10p">N° immat.</th>
		                  <th class="wd-20p">Licence</th>
		                  <th class="wd-15p">Montant Fcfa</th>
		                </tr>
		              </thead>
		              <tbody>
		 				  <ui:repeat var="cl" value="#{transporteurService.transporteur.listVoiture}">
			                <tr>
			                  <td><h:outputText value="#{cl.modele.typeParent.libelle}"/></td>
			                  <td><h:outputText value="#{cl.modele.libelle}"/></td>
			                  <td><h:outputText value="#{cl.annee}"/></td>
			                  <td><h:outputText value="#{cl.nombrePlace}"/></td>
			                  <td>
			                  		<h:commandLink action="#{voitureService.versFicheVehicule()}">
			                  			<f:setPropertyActionListener value="#{cl}" target="#{voitureService.voiture}"/>
			                  			<h:outputText value="#{cl.numeroImmat}"/>
			                  		</h:commandLink>			                  
			                  </td>
			                  <td><span class="square-8 bg-#{cl.licence.active?'success':'danger'} mg-r-5 rounded-circle"></span> <h:outputText value="#{cl.licence.typeActivite.libelle}"/></td>
			                  <td class="valign-middle tx-right"><h:outputText value="#{cl.licence.typeLicence.montant}"><f:convertNumber pattern="###,###"/></h:outputText></td>
			                
			                </tr>
		                  </ui:repeat>
		              </tbody>
		            </table>
		          </div><!-- table-wrapper -->
		          
			            <div class="form-layout-footer">
			              <h:commandLink rendered="false" action="#{transporteurService.versListeTransporteur()}" class="btn btn-primary bd-0">Retour à la liste</h:commandLink>
			            
			            </div><!-- form-layout-footer -->		          
		          
		          
			 </h:form><!-- section-wrapper -->			
				
			
		
		</ui:define>
	</ui:composition>
</html>
