<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      xmlns:b="http://bootsfaces.net/ui"> 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Liste des transporteurs</ui:define>
		
		<ui:define name="body">
		
		
		
		        <h:form class="section-wrapper">
		
		
		          <div class="table-wrapper">
		            <table id="datatable1" class="table display responsive nowrap">
		              <thead>
		                <tr>
		                  <th class="wd-5p">N° inscription</th>
		                  <th class="wd-20p">Raison sociale</th>
		                  <th class="wd-15p">Forme juridique</th>
		                  <th class="wd-25p">Gérant</th>
		                  <th class="wd-10p">Date inscription</th>
		                  <th class="wd-10p">Gestionnaire</th>
		                </tr>
		              </thead>
		              <tbody>
		 				  <ui:repeat var="cl" value="#{transporteurService.listTransporteur}">
			                <tr>
			                  <td><h:outputText value="#{cl.code}"/></td>
			                  <td><h:commandLink action="#{transporteurService.versFicheTransporteur(cl)}"><h:outputText value="#{cl.libelle}"/></h:commandLink></td>
			                  <td><h:outputText value="#{cl.formeJuridique.libelle}"/></td>
			                  <td><h:outputText value="#{cl.gerant.nomComplet}"/></td>
			                  <td><h:outputText value="#{cl.dateCreation}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText></td>
			                  <td><h:outputText value="#{cl.gestionnaire.login}"/></td>
			                </tr>
		                  </ui:repeat>
		              </tbody>
		            </table>
		          </div><!-- table-wrapper -->
		          
		          <div class="form-layout-footer">
		          		<h:commandLink  onclick="apercuPrint()" class="btn btn-outline-primary">
		          			<i class="fa fa-print mg-r-5"></i>Imprimer
		          		</h:commandLink>
		          </div>
		          
		          
		        </h:form><!-- section-wrapper -->	
		        		
		
		</ui:define>
	</ui:composition>
</html>
