<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      > 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Mettre à jour un transporteur</ui:define>
		
		<ui:define name="body">
		
		
					<div class="section-wrapper">
					
	          				
					
			          <label class="section-title">Fiche circuit</label>
			
			          <h:form id="info" class="form-layout">
			            <div class="row mg-b-25">
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Raison sociale: <span class="tx-danger">*</span></label>
			                  <h:inputText  requiredMessage="Raison sociale ?" value="#{transporteurService.transporteur.libelle}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">N° inscription: <span class="tx-danger">*</span></label>
			                  <h:inputText  requiredMessage="Code ?" value="#{transporteurService.transporteur.code}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-3">
			                <div class="form-group mg-b-10-force">
			                  <label class="form-control-label">Forme juridique: <span class="tx-danger"></span></label>
			                  <h:selectOneMenu  value="#{transporteurService.transporteur.formeJuridique}" styleClass="form-control select2" converter="typeConverter">
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{referentielService.listTypeFormeJurique}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}"/>
			                  </h:selectOneMenu>
			                </div>
			              </div><!-- col-4 -->	
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Actif: </label>
			                  <br/><h:selectBooleanCheckbox rendered="#{transporteurService.transporteur.id ne null}" value="#{transporteurService.transporteur.active}" />
			                </div>
			              </div><!-- col-4 -->			                 
			            
			            </div><!-- row -->
			            

			            
			            <label class="section-title">Adresse de l'entreprise</label>
			            <div class="row mg-b-25">
			              
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Numéro de villa: <span class="tx-danger">*</span></label>
			                  <h:inputText  requiredMessage="Raison sociale ?" value="#{projetService.adresse.numeroVilla}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Nom ou numéro de rue: <span class="tx-danger">*</span></label>
			                  <h:inputText  requiredMessage="Code ?" value="#{projetService.adresse.rue}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->	
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Boite postale: <span class="tx-danger">*</span></label>
			                  <h:inputText  requiredMessage="Code ?" value="#{projetService.adresse.bp}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->	
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Lieu dit: <span class="tx-danger">*</span></label>
			                  <h:inputText  requiredMessage="Code ?" value="#{projetService.adresse.lieuDit}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->	

			              <div class="col-lg-4">
			                <div class="form-group mg-b-10-force">
			                  <label class="form-control-label">Ville: <span class="tx-danger">*</span></label>
			                  <h:selectOneMenu  id="menuProduit"  value="#{projetService.adresse.ville}" styleClass="form-control select2" converter="villeConverter">
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{referentielService.listVille}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}" />
			                  </h:selectOneMenu>
			                </div>
			              </div><!-- col-4 -->			
			              
			            </div>		
			            
			            <label class="section-title">Gérant</label>
			            <div class="row mg-b-25">
			              
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Nom: <span class="tx-danger">*</span></label>
			                  <h:inputText  requiredMessage="Nom ?" value="#{projetService.personne.nom}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Prénom: <span class="tx-danger">*</span></label>
			                  <h:inputText required="true" requiredMessage="Prénom ?" value="#{projetService.personne.prenom}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->	
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Date de naissance (jj/mm/yyyy): <span class="tx-danger"></span></label>
			                  <h:inputText  requiredMessage="Date de naissance ?" value="#{projetService.personne.dateNaissance}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:inputText>
			                </div>
			              </div><!-- col-4 -->	
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Adresse mail: <span class="tx-danger"></span></label>
			                  <h:inputText  requiredMessage="Mail ?" value="#{projetService.personne.mail}" styleClass="form-control"/>
			                </div>
			              </div><!-- col-4 -->	
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Numéro de téléphone: <span class="tx-danger">*</span></label>
			                  <h:inputText  requiredMessage="N° Tél. ?" value="#{projetService.personne.telephone}" styleClass="form-control"/>
			                </div>
			              </div><!-- col-4 -->
			              
			            </div>				                        
			
			            <div class="form-layout-footer">
			              <h:commandLink action="#{transporteurService.updateTransporteur()}" rendered="#{transporteurService.transporteur.id ne null}" update="info"  class="btn btn-primary bd-0">Mettre à jour</h:commandLink>
			            
			            </div><!-- form-layout-footer -->
			          </h:form><!-- form-layout -->
			          
			          
		         
			          
			        </div><!-- section-wrapper -->			
				
			
		
		</ui:define>
	</ui:composition>
</html>
