<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      xmlns:b="http://bootsfaces.net/ui">

	<ui:composition>
	
		    <div id="popAffecterTransporteur" class="modal fade effect-newspaper">
		      <div class="modal-dialog modal-lg" role="document">
		        <div class="modal-content tx-size-lg">
		          <div class="modal-header pd-x-20">
		            <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Sélectionner le transporteur</h6>
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		              <span aria-hidden="true">&times;</span>
		            </button>
		          </div>
		          <h:form id="listClient" class="modal-body pd-20">
		          
											  <div class="table-responsive">
									            <table id="datatable1" class="table display responsive nowrap" >
									              <thead>
									                <tr>
									                  <th>Code</th>
									                  <th>Raison sociale</th>
									                  <th>Forme juridique</th>
									                </tr>
									              </thead>
									              <tbody>
									                <ui:repeat var="cl" value="#{transporteurService.listTransporteur3}">
										                <tr>
										                  <th><h:outputText value="#{cl.code}"/></th>
										                  <th><h:commandLink oncomplete="$('#popAffecterTransporteur').modal('hide')" update="@([id$=champRaisonSociale])"><f:setPropertyActionListener value="#{cl}" target="#{transporteurService.transporteur}"/><h:outputText value="#{cl.libelle}"/></h:commandLink></th>
										                  <th><h:outputText value="#{cl.formeJuridique.libelle}"/></th>
										                </tr>
									                </ui:repeat>
									              </tbody>
									            </table>
														            
									          </div>		          
		          
		          </h:form><!-- modal-body -->
		          
		        </div>
		      </div><!-- modal-dialog -->
		    </div><!-- modal -->
	
	
	</ui:composition>
</html>