<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      > 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Mon portefeuille</ui:define>
		
		<ui:define name="body">
		
			<h:form>

			<div class="row no-gutters dashboard-chart-one">
		          <div class="col">
		            <div class="card card-total">
		              <div>
		                <h1><h:outputText value="#{transporteurService.listTransporteur3.size()}"><f:convertNumber pattern="###,###"/></h:outputText></h1>
		                <p>Agences de transport</p>
		                <span class="tx-danger"><h:outputText  value="#{transporteurService.listTransporteur2.size()}"><f:convertNumber pattern="###,###"/></h:outputText> suspendu(s)</span>
		              </div>
		              
		            </div><!-- card -->
		          </div><!-- col -->
		          <div class="col">
		            <div class="card card-total">
		              <div>
		                <h1><h:outputText value="#{voitureService.listVoiture.size()}"><f:convertNumber pattern="###,###"/></h:outputText></h1>
		                <p>Véhicules</p>
		              </div>
		              
		            </div><!-- card -->
		          </div><!-- col -->
		          <div class="col">
		            <div class="card card-total">
		              <div>
		                <h1><h:outputText value="#{voitureService.listLicence2.size()}"><f:convertNumber pattern="###,###"/></h:outputText></h1>
		                <p>Licences expirées</p>
		              </div>
		              
		            </div><!-- card -->
		          </div><!-- col -->
		          <div class="col-4">
		            <div class="card card-revenue">
		              <h6>Mon chiffre d'affaire</h6>
		              <p>Calculé en temps réel</p>
		              <h1><h:outputText  value="#{voitureService.montant1}"><f:convertNumber pattern="###,###"/></h:outputText> fcfa</h1>
		              <span class="tx-success"><h:outputText value="#{(voitureService.montant2 != null)?voitureService.montant2:0}"><f:convertNumber pattern="###,###"/></h:outputText> fcfa en attente.</span>
		            </div><!-- card -->
		          </div><!-- col-4 -->
		        </div>	
		        
		        
		        <div class="section-wrapper">
		
				  <label class="section-title">Mes licences expirées</label>
		          <div class="table-wrapper">
		            <table id="datatable1" class="table display responsive nowrap">
		                  <thead>
		                    <tr class="tx-10">
		                      <th class="pd-y-5">N°</th>
		                      <th class="pd-y-5">Activité</th>
		                      <th class="pd-y-5">Transporteurs</th>
		                      <th class="pd-y-5">Début</th>
		                      <th class="pd-y-5">Fin</th>
		                      <th class="pd-y-5">Véhicule</th>
		                      <th class="pd-y-5 tx-center">Montant</th>
		                      <th class="pd-y-5 tx-center">Renouveller</th>
		                    </tr>
		                  </thead>
		                  <tbody>
		                    <ui:repeat var="lic" value="#{voitureService.listLicence2}">
		                    <tr>
		                      <td>#{lic.numeroLicence}</td>
		                      <td><a href="" class="tx-inverse tx-14 tx-medium d-block">#{lic.typeActivite.libelle}</a></td>
		                      <td class="valign-middle">#{lic.voiture.transporteur.libelle}</td>
		                      <td><h:outputText value="#{lic.dateDebut}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText></td>
		                      <td><h:outputText value="#{lic.dateFin}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText></td>
		                      <td class="valign-middle">#{lic.voiture.modele.typeParent.libelle} #{lic.voiture.modele.libelle}</td>
		                      <td class="valign-middle tx-center">
		                        <h:outputText value="#{lic.typeLicence.montant}"><f:convertNumber pattern="###,###"/></h:outputText> fcfa
		                      </td>
		                      <td><h:commandLink action="#{voitureService.versCreerLicence(lic)}" ><i class="fa fa-refresh"></i></h:commandLink></td>
		                    </tr>
		                    </ui:repeat>
		                    
		                  </tbody>
		            </table>
		          </div><!-- table-wrapper -->
		        </div><!-- section-wrapper -->	
		        <br/>
		        
		        <div class="section-wrapper">
				  <label class="section-title">Mes licences expirant bientôt</label>
		          <div class="table-wrapper">
		            <table id="datatable3" class="table display responsive nowrap">
		                  <thead>
		                    <tr class="tx-10">
		                      <th class="pd-y-5">N°</th>
		                      <th class="pd-y-5">Activité</th>
		                      <th class="pd-y-5">Transporteur</th>
		                      <th class="pd-y-5">Début</th>
		                      <th class="pd-y-5">Fin</th>
		                      <th class="pd-y-5">Reste</th>
		                      <th class="pd-y-5">Véhicule</th>
		                      <th class="pd-y-5 tx-center">Montant</th>
		                      
		                    </tr>
		                  </thead>
		                  <tbody>
		                    <ui:repeat var="lic" value="#{voitureService.listLicence3}">
		                    <tr>
		                      <td>#{lic.numeroLicence}</td>
		                      <td><a href="" class="tx-inverse tx-14 tx-medium d-block">#{lic.typeActivite.libelle}</a></td>
		                      <td class="valign-middle">#{lic.voiture.transporteur.libelle}</td>
		                      <td><h:outputText value="#{lic.dateDebut}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText></td>
		                      <td><h:outputText value="#{lic.dateFin}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText></td>
		                      <td>#{lic.duree} j</td>
		                      <td class="valign-middle">#{lic.voiture.modele.typeParent.libelle} #{lic.voiture.modele.libelle}</td>
		                      <td class="valign-middle tx-center">
		                        <h:outputText value="#{lic.typeLicence.montant}"><f:convertNumber pattern="###,###"/></h:outputText> fcfa
		                      </td>
		                    </tr>
		                    </ui:repeat>
		                    
		                  </tbody>
		            </table>
		          </div><!-- table-wrapper -->
		          </div>
		        <br/>		        
		        
		        
				<div class="section-wrapper">
				  <label class="section-title">Mes transporteurs</label>
		          <div class="table-wrapper">
		            <table id="datatable2" class="table display responsive nowrap">
		              <thead>
		                <tr>
		                  <th class="wd-15p">N° inscription</th>
		                  <th class="wd-20p">Raison sociale</th>
		                  <th class="wd-15p">Forme juridique</th>
		                  <th class="wd-25p">Gérant</th>
		                  <th class="wd-10p">Statut</th>
		                  <th>Mettre à jour</th>
		                </tr>
		              </thead>
		              <tbody>
		 				  <ui:repeat var="cl" value="#{transporteurService.listTransporteur3}">
			                <tr>
			                  <td><h:outputText value="#{cl.code}"/></td>
			                  <td><h:commandLink action="#{transporteurService.versFicheTransporteur(cl)}"><h:outputText value="#{cl.libelle}"/></h:commandLink></td>
			                  <td><h:outputText value="#{cl.formeJuridique.libelle}"/></td>
			                  <td><h:outputText value="#{cl.gerant.nomComplet}"/></td>
			                  <td><span class="square-8 bg-#{cl.active?'success':'danger'} mg-r-5 rounded-circle"></span> <h:outputText value="#{cl.active?'Actif':'Suspendu'}"/></td>
			                  <td>
			                  		<h:commandLink action="#{transporteurService.versMajTransporteurPortefeuille()}">
			                  				<f:setPropertyActionListener value="#{cl}" target="#{transporteurService.transporteur}"/>
			                  				<f:setPropertyActionListener value="#{cl.adresse}" target="#{projetService.adresse}"/>
			                  				<f:setPropertyActionListener value="#{cl.gerant}" target="#{projetService.personne}"/>
			                  				<f:setPropertyActionListener value="#{cl.adresse.ville}" target="#{projetService.adresse.ville}"/>
			                  				<i class="fa fa-refresh"></i>
			                  		</h:commandLink>
			                  </td>
			                </tr>
		                  </ui:repeat>
		              </tbody>
		            </table>
		          </div><!-- table-wrapper -->
				</div>
			</h:form>
		
		</ui:define>
	</ui:composition>
</html>
