<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      xmlns:b="http://bootsfaces.net/ui"> 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Recherche des transporteurs</ui:define>
		
		<ui:define name="body">
					<h:form id="form">
					<div class="section-wrapper">
			          <label class="section-title">Filtres</label>
			
			          <div class="form-layout">
			            <div class="row mg-b-25">
			              
 			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Nom du gérant: </label>
			                  <h:inputText  value="#{projetService.nom}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div>
			              
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Prénom du gérant: </label>
			                  <h:inputText  value="#{projetService.prenom}" styleClass="form-control" onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div> 
			              
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Gestionnaire: </label>
			                  <h:selectOneMenu value="#{transporteurService.gestionnaire}" styleClass="form-control" converter="utilisateurConverter">
							  	  <f:selectItem itemLabel="Selectionnez un gestionnaire" itemValue="" noSelectionOption="false" />
								  <f:selectItems value="#{referentielService.listUtilisateur}" var="c" itemValue="#{c}" itemLabel="#{c.personne.nomComplet}"/>
							  </h:selectOneMenu>
			                </div>
			              </div>	
			              
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Type de transport: </label>
			                  <h:selectOneMenu  requiredMessage="Licence ?" value="#{projetService.typeActivite}" styleClass="form-control select2" converter="typeConverter">
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{referentielService.listTypeActivite}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}" />
			                  </h:selectOneMenu>
			                </div>
			              </div><!-- col-4 -->				              	              			              
			              

			              
 			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Créé entre: </label>
			                  <h:inputText  value="#{transporteurService.transporteur.dateCreation}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:inputText>
			                </div>
			              </div>
			              
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">et: </label>
			                  <h:inputText  value="#{projetService.date1}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:inputText>
			                </div>
			              </div>	
			              
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">En activité: </label>
			                  <br/><h:selectBooleanCheckbox value="#{transporteurService.transporteur.active}" />
			                </div>
			              </div>				              		              			              			              
			            </div>				            		            
			            
				          <div class="form-layout-footer">
				          		<h:commandLink update="form" action="#{transporteurService.chercherTransporteur()}" class="btn btn-outline-primary"><i class="fa fa-search mg-r-5"></i>Chercher</h:commandLink>
				          </div>
			

			          </div><!-- form-layout -->
			    <br/>
		
		
		          <div class="table-wrapper">
			            <table id="datatable1" class="table display responsive nowrap">
			              <thead>
			                <tr>
			                  <th class="wd-5p">N° inscription</th>
			                  <th class="wd-20p">Raison sociale</th>
			                  <th class="wd-15p">Forme juridique</th>
			                  <th class="wd-25p">Gérant</th>
			                  <th class="wd-10p">Parc auto.</th>
			                  <th class="wd-10p">Date création.</th>
			                  <th class="wd-10p">Gestionnaire</th>
			                </tr>
			              </thead>
			              <tbody>
			 				  <ui:repeat var="cl" value="#{transporteurService.listTransporteur}">
				                <tr>
				                  <td><h:outputText value="#{cl.code}"/></td>
				                  <td><h:commandLink action="#{transporteurService.versFicheTransporteur()}"><f:setPropertyActionListener value="#{cl}" target="#{transporteurService.transporteur}"/><h:outputText value="#{cl.libelle}"/></h:commandLink></td>
				                  <td><h:outputText value="#{cl.formeJuridique.libelle}"/></td>
				                  <td><h:outputText value="#{cl.gerant.nomComplet}"/></td>
				                  <td><h:outputText value="#{cl.listVoiture.size()}"/></td>
				                  <td><h:outputText value="#{cl.dateCreation}"><f:convertDateTime pattern="dd/MM/yyyy" /></h:outputText></td>
				                  <td><h:outputText value="#{cl.gestionnaire.personne.nomComplet}"/></td>
				                </tr>
			                  </ui:repeat>
			              </tbody>
			            </table>
		          </div><!-- table-wrapper -->
		          
		          <div class="form-layout-footer">
		          		<h:commandLink rendered="#{not empty transporteurService.listTransporteur}"  onclick="apercuPrint()" class="btn btn-outline-primary"><i class="fa fa-print mg-r-5"></i>Imprimer</h:commandLink>
		          </div>		          
		          
		        </div><!-- section-wrapper -->				        

			        
			        		
					</h:form>
					
					<ui:include src="/private/transporteur/popTransporteur.xhtml" />
	        
	        
		
		</ui:define>
	</ui:composition>
</html>
