<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      xmlns:b="http://bootsfaces.net/ui"> 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Suspendre un transporteur</ui:define>
		
		<ui:define name="body">
					
					<div class="section-wrapper">
			          <label class="section-title">Choisir le transporteur à suspendre</label>
					  <h:form id="form">
			          <div class="form-layout">
			            <div class="row mg-b-25">
			              
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Transporteur: </label>
			                  <h:inputText  required="true" requiredMessage="Transporteur à suspendre ?" id="champRaisonSociale" readonly="true" onfocus="$('#popTransporteur').modal('show')" value="#{transporteurService.transporteur.libelle}" styleClass="form-control" />
                              <h:commandLink immediate="true" update="champRaisonSociale" action="#{transporteurService.initTransporteur()}"><i class="fa fa-refresh"></i></h:commandLink>		                
			                </div>
			              </div><!-- col-4 -->
			              
			              
			              <div class="col-lg-8">
			                <div class="form-group">
			                  <label class="form-control-label">Motif: </label>
			                  <h:inputText required="true" requiredMessage="Motif de suspension ?" value="#{transporteurService.transporteur.commentaire}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->				              
			              
			            </div>				            		            
			            
			          <div class="form-layout-footer">
			          		<h:commandLink  update="form" action="#{transporteurService.suspendreTransporteur()}" class="btn btn-danger"><i class="fa fa-search mg-r-5"></i>Suspendre</h:commandLink>
			          </div>
			

			          </div><!-- form-layout -->
			        </h:form>
			    <br/><br/><br/>
		
					<h:form>
		
		          <div class="table-wrapper">
		          <label class="section-title">Transporteurs suspendus</label>
		            <table id="datatable1" class="table display responsive nowrap">
		              <thead>
		                <tr>
		                  <th class="wd-5p">Code</th>
		                  <th class="wd-20p">Raison sociale</th>
		                  <th class="wd-20p">Gérant</th>
		                  <th class="wd-10p">Suspendu le</th>
		                  <th class="wd-10p">Suspendu par</th>
		                  <th class="wd-25p">Motif</th>
		                </tr>
		              </thead>
		              <tbody>
		 				  <ui:repeat var="cl" value="#{transporteurService.listTransporteur2}">
			                <tr>
			                  <td><h:outputText value="#{cl.code}"/></td>
			                  <td><h:commandLink action="#{transporteurService.versFicheTransporteur(cl)}"><h:outputText value="#{cl.libelle}"/></h:commandLink></td>
			                  <td><h:outputText value="#{cl.gerant.nomComplet}"/></td>
			                  <td><h:outputText value="#{cl.dateModif}"><f:convertDateTime  pattern="dd/MM/yyyy"/></h:outputText></td>
			                  <td><h:outputText value="#{cl.userModif.login}"/></td>
			                  <td><h:outputText value="#{cl.commentaire}"/></td>
			                </tr>
		                  </ui:repeat>
		              </tbody>
		            </table>
		          </div><!-- table-wrapper -->
		          
		          <div class="form-layout-footer">
		          		<h:commandLink  action="#{transporteurService.imprimeListeSuspendu()}" oncomplete="apercuPrint()" class="btn btn-outline-primary"><i class="fa fa-print mg-r-5"></i>Imprimer</h:commandLink>
		          </div>
		          
		          
		          </h:form>
		   		          
		          
		        </div><!-- section-wrapper -->				        

			        
			        		
					
					
					<ui:include src="/private/transporteur/popTransporteur.xhtml" />
	        
	        
		
		</ui:define>
	</ui:composition>
</html>
