<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      xmlns:b="http://bootsfaces.net/ui"> 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Ajouter une voiture</ui:define>
		
		<ui:define name="body">
					<h:form id="form">
					<div class="section-wrapper">
					
					
			            <label class="section-title">Transporteur</label>
			            <div class="row mg-b-25">
			              
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Raison sociale: <span class="tx-danger">*</span></label>
			                  <h:inputText id="champRaisonSociale" readonly="true" onfocus="$('#popTransporteur').modal('show')" value="#{transporteurService.transporteur.libelle}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->
			              
			            </div>						
					
					
			          <label class="section-title">Informations sur le véhicule</label>
			
			          <div class="form-layout">
			            <div class="row mg-b-25">
			            
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Marque et modèle: <span class="tx-danger">*</span></label>
			                  <h:inputText id="champModele" readonly="true" onfocus="$('#popModele').modal('show')" value="#{voitureService.voiture.modele.typeParent.libelle} #{voitureService.voiture.modele.libelle}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->
			              
			              <div class="col-lg-3">
			                <div class="form-group mg-b-10-force">
			                  <label class="form-control-label">Énergie: <span class="tx-danger">*</span></label>
			                  <h:selectOneMenu required="true" requiredMessage="Motorisation ?" value="#{voitureService.voiture.motorisation}" styleClass="form-control select2" converter="typeConverter">
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{referentielService.listTypeMotorisation}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}" />
			                  </h:selectOneMenu>
			                </div>
			              </div><!-- col-4 -->			              			              		            
			            
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">N° chassis: </label>
			                  <h:inputText required="false"  requiredMessage="N° chassis ?" value="#{voitureService.voiture.numeroChassi}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->	

			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">N° place: </label>
			                  <h:inputText required="true" value="#{voitureService.voiture.nombrePlace}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->	
			              
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Date de mise en circulation (jj/mm/yyyy): </label>
			                  <h:inputText  required="false" converterMessage="Mauvais format de date de mise en circulation" requiredMessage="Date de mise en circulation ?" value="#{voitureService.voiture.dateMiseCirculation}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:inputText>
			                </div>
			              </div><!-- col-4 -->	
			              
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">N° d'immatriculation: <span class="tx-danger">*</span></label>
			                  <h:inputText  required="true" requiredMessage="N° d'immatriculation ?" value="#{voitureService.voiture.numeroImmat}" styleClass="form-control"  onkeyup="this.value=this.value.toUpperCase()"/>
			                </div>
			              </div><!-- col-4 -->				              
			              
			              			              
			              		              		              
			            </div><!-- row -->
			            

			            
			            <label class="section-title">Licence</label>
			            <div class="row mg-b-25">
			            
			            
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">N°: <span class="tx-danger">*</span></label>
			                  <h:inputText required="true" requiredMessage="N° de la licence ?" value="#{voitureService.licence.numeroLicence}" styleClass="form-control"/>
			                </div>
			              </div><!-- col-4 -->			            
			            
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Type de transport: <span class="tx-danger">*</span></label>
			                  <h:selectOneMenu required="true" requiredMessage="Licence ?" value="#{voitureService.licence.typeActivite}" styleClass="form-control select2" converter="typeConverter">
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{referentielService.listTypeActivite}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}" />
			                  </h:selectOneMenu>
			                </div>
			              </div><!-- col-4 -->			            
			              
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Redevance: <span class="tx-danger">*</span></label>
			                  <h:selectOneMenu required="true" requiredMessage="Licence ?" value="#{voitureService.licence.typeLicence}" styleClass="form-control select2" converter="typeConverter">
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{referentielService.listTypeLicence}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}" />
			                  </h:selectOneMenu>
			                </div>
			              </div><!-- col-4 -->	
			              
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Date de début (jj/mm/yyyy): <span class="tx-danger">*</span></label>
			                  <h:inputText  required="true" requiredMessage="Date de début ?" value="#{voitureService.licence.dateDebut}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:inputText>
			                </div>
			              </div><!-- col-4 -->	
			              
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Date de fin (jj/mm/yyyy): <span class="tx-danger">*</span></label>
			                  <h:inputText  required="true" requiredMessage="Date de fin ?" value="#{voitureService.licence.dateFin}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:inputText>
			                </div>
			              </div><!-- col-4 -->				              			              
			              
			            </div>				            		            
			            
			            <div class="form-layout-footer">
			              <label class="form-control-label"></label>
			              <h:commandLink action="#{voitureService.saveVoiture()}" class="btn btn-primary bd-0">Enregistrer</h:commandLink>
			            </div><!-- form-layout-footer -->
			

			          </div><!-- form-layout -->
			        </div><!-- section-wrapper -->	
			        		
					</h:form>
					
					
					    <div id="popModele" class="modal fade effect-fade">
					      <div class="modal-dialog modal-lg" role="document">
					        <div class="modal-content tx-size-lg">
					          <div class="modal-header pd-x-20">
					            <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Sélectionner le modèle de véhicule</h6>
					            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					              <span aria-hidden="true">&times;</span>
					            </button>
					          </div>
					          <h:form id="listModele" class="modal-body pd-20">
					          
														  <div class="table-responsive">
												            <table id="datatable1" class="table display responsive nowrap" width="100%">
												              <thead>
												                <tr>
												                  <th >Marque</th>
												                  <th >Modèle</th>
												                </tr>
												              </thead>
												              <tbody>
												                <ui:repeat var="cl" value="#{referentielService.listTypeModele}">
													                <tr>
													                  <th><h:outputText value="#{cl.typeParent.libelle}"/></th>
													                  <th><h:commandLink oncomplete="$('#popModele').modal('hide')" update="@([id$=champModele])"><f:setPropertyActionListener value="#{cl}" target="#{voitureService.voiture.modele}"/><h:outputText value="#{cl.libelle}"/></h:commandLink></th>
													                </tr>
												                </ui:repeat>
												              </tbody>
												            </table>
																	            
												          </div>		          
					          
					          </h:form><!-- modal-body -->
					          
					        </div>
					      </div><!-- modal-dialog -->
					    </div><!-- modal -->					
					
					<ui:include src="/private/transporteur/popTransporteur.xhtml" />
	        
	        
		
		</ui:define>
	</ui:composition>
</html>
