<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      xmlns:b="http://bootsfaces.net/ui"> 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Fiche véhicule</ui:define>
		
		<ui:define name="body">
					<h:form id="form">
					<div class="section-wrapper">
			          <label class="section-title">Informations sur le véhicule</label>
			
			          <div class="form-layout">
			            <div class="row mg-b-25">
			              
			              <div class="col-lg-3">
			                <div class="form-group mg-b-10-force">
			                  <label class="form-control-label">Marque et type: </label>
			                  <h:outputText value="#{voitureService.voiture.modele.typeParent.libelle} #{voitureService.voiture.modele.libelle}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->	
			              
			              <div class="col-lg-2">
			                <div class="form-group mg-b-10-force">
			                  <label class="form-control-label">Motorisation: </label>
			                  <h:outputText value="#{voitureService.voiture.motorisation.libelle}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->			              			              		            
			            
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">N° chassis: </label>
			                  <h:outputText value="#{voitureService.voiture.numeroChassi}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->	
			              
			              <div class="col-lg-1">
			                <div class="form-group">
			                  <label class="form-control-label">Places: </label>
			                  <h:outputText  value="#{voitureService.voiture.nombrePlace}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->				              
			              
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Créateur: </label>
			                  <h:outputText  value="#{voitureService.voiture.userCreation.login}" styleClass="form-control"/>
			                </div>
			              </div><!-- col-4 -->				              

			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Date de mise en circulation (jj/mm/yyyy): </label>
			                  <h:outputText value="#{voitureService.voiture.dateMiseCirculation}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:outputText>
			                </div>
			              </div><!-- col-4 -->	
			              
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">N° d'immatriculation: </label>
			                  <h:outputText  value="#{voitureService.voiture.numeroImmat}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->				              
			              
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Raison sociale: </label>
			                  <h:outputText  value="#{voitureService.voiture.transporteur.libelle}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->			              			              
			              		              		              
			            </div><!-- row -->
			            
			    <label class="section-title">Historique des licences</label>
		          <div class="table-wrapper">
		            <table id="datatable1" class="table display responsive nowrap">
		                  <thead>
		                    <tr class="tx-10">
		                      <th class="pd-y-5">N°</th>
		                      <th class="pd-y-5">Type de transport</th>
		                      <th class="pd-y-5 tx-right">Montant  fcfa</th>
		                      <th class="pd-y-5">Début</th>
		                      <th class="pd-y-5">Fin</th>
		                      <th class="pd-y-5 tx-center">Statut</th>
		                      <th class="pd-y-5 tx-center">Créateur</th>
		                    </tr>
		                  </thead>
		                  <tbody>
		                    <ui:repeat var="lic" value="#{voitureService.listLicence}">
		                    <tr>
		                      <td>#{lic.numeroLicence}</td>
		                      <td><a href="" class="tx-inverse tx-14 tx-medium d-block">#{lic.typeActivite.libelle}</a></td>
		                      <td class="valign-middle tx-right"><h:outputText value="#{lic.typeLicence.montant}"><f:convertNumber pattern="###,###"/></h:outputText></td>
		                      <td><h:outputText  value="#{lic.dateDebut}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText></td>
		                      <td><h:outputText value="#{lic.dateFin}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText></td>
		                      <td class="valign-middle tx-center"><span class="square-8 bg-#{lic.active?'success':'danger'} mg-r-5 rounded-circle"></span></td>
		                      <td class="valign-middle tx-center"><h:outputText value="#{lic.userCreation.login}"/></td>
		                    </tr>
		                    </ui:repeat>
		                    
		                  </tbody>
		            </table>

		          </div><!-- table-wrapper -->			                       
			            
			            <div class="form-layout-footer">
			              <label class="form-control-label"></label>
			              <h:commandLink action="#{voitureService.versListVoiture()}" class="btn btn-primary bd-0">Retour à la liste</h:commandLink>
			            </div><!-- form-layout-footer -->
			

			          </div><!-- form-layout -->
			        </div><!-- section-wrapper -->	
			        		
					</h:form>
					
	        
	        
		
		</ui:define>
	</ui:composition>
</html>
