<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      xmlns:b="http://bootsfaces.net/ui"> 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Liste des voitures</ui:define>
		
		<ui:define name="body">
		
		
		
		        <h:form class="section-wrapper">
		
		
		          <div class="table-wrapper">
		            <table id="datatable1" class="table display responsive nowrap">
		              <thead>
		                <tr>
		                  <th class="wd-15p">Marque</th>
		                  <th class="wd-20p">Type</th>
		                  <th class="wd-10p">Places</th>
		                  <th class="wd-10p">N° immat.</th>
		                  <th class="wd-10p">Licence</th>
		                  <th class="wd-10p">Proprietaire</th>
		                </tr>
		              </thead>
		              <tbody>
		 				  <ui:repeat var="cl" value="#{voitureService.listVoiture}">
			                <tr>
			                  <td><h:outputText value="#{cl.modele.typeParent.libelle}"/></td>
			                  <td><h:outputText value="#{cl.modele.libelle}"/></td>
			                  <td><h:outputText value="#{cl.nombrePlace}"/></td>
			                  <td>
			                  		<h:commandLink action="#{voitureService.versFicheVehicule()}">
			                  			<f:setPropertyActionListener value="#{cl}" target="#{voitureService.voiture}"/>
			                  			<h:outputText value="#{cl.numeroImmat}"/>
			                  		</h:commandLink>
			                  </td>
			                  <td><span class="square-8 bg-#{cl.licence.active?'success':'danger'} mg-r-5 rounded-circle"></span></td>
			                  <td><h:outputText value="#{cl.transporteur.libelle}"/></td>
			                </tr>
		                  </ui:repeat>
		              </tbody>
		            </table>
		          </div><!-- table-wrapper -->
		        </h:form><!-- section-wrapper -->			
		
		</ui:define>
	</ui:composition>
</html>
