<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      xmlns:b="http://bootsfaces.net/ui"> 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Recherche des véhicules</ui:define>
		
		<ui:define name="body">
					<h:form id="form">
					<div class="section-wrapper">
			          <label class="section-title">Filtres</label>
			
			          <div class="form-layout">
			            <div class="row mg-b-25">
			            
			              <div class="col-lg-3">
			                <div class="form-group mg-b-10-force">
			                  <label class="form-control-label">Marque: </label>
			                  <h:selectOneMenu immediate="true"  value="#{projetService.marque}" styleClass="form-control select2" converter="typeConverter">
			                  		<f:ajax event="change" render="menuProduit"/>
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{referentielService.listTypeMarque}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}"/>
			                  </h:selectOneMenu>
			                </div>
			              </div><!-- col-4 -->		
			              
			              <div class="col-lg-3">
			                <div class="form-group mg-b-10-force">
			                  <label class="form-control-label">Type: </label>
			                  <h:selectOneMenu immediate="true" id="menuProduit"  requiredMessage="Modèle ?" value="#{voitureService.voiture.modele}" styleClass="form-control select2" converter="typeConverter">
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{projetService.marque.listTypeEnfant}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}" />
			                  </h:selectOneMenu>
			                </div>
			              </div><!-- col-4 -->	
			              
			              <div class="col-lg-3">
			                <div class="form-group mg-b-10-force">
			                  <label class="form-control-label">Motorisation: </label>
			                  <h:selectOneMenu  requiredMessage="Motorisation ?" value="#{voitureService.voiture.motorisation}" styleClass="form-control select2" converter="typeConverter">
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{referentielService.listTypeMotorisation}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}" />
			                  </h:selectOneMenu>
			                </div>
			              </div><!-- col-4 -->			              			              		            
			            
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">N° chassis: </label>
			                  <h:inputText   requiredMessage="N° chassis ?" value="#{voitureService.voiture.numeroChassi}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->	

			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">N° place: </label>
			                  <h:inputText   value="#{voitureService.voiture.nombrePlace}" styleClass="form-control" onblur="if(this.value.length==0){this.value=0}"/>
			                </div>
			              </div><!-- col-4 -->	
			              
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Année de fabrication: <span class="tx-danger"></span></label>
			                  <h:inputText  requiredMessage="Année de fabrication ?" value="#{voitureService.voiture.annee}" styleClass="form-control" onblur="if(this.value.length==0){this.value=0}"/>
			                </div>
			              </div><!-- col-4 -->	
			              
<!-- 			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Début mise en circulation: </label>
			                  <h:inputText  value="#{voitureService.voiture.dateMiseCirculation}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:inputText>
			                </div>
			              </div>
			              
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Fin mise en circulation: </label>
			                  <h:inputText  value="#{projetService.date1}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:inputText>
			                </div>
			              </div> -->				              
			              
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">N° d'immatriculation: </label>
			                  <h:inputText  requiredMessage="N° d'immatriculation ?" value="#{voitureService.voiture.numeroImmat}" styleClass="form-control" />
			                </div>
			              </div><!-- col-4 -->	
			              
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Activité: </label>
			                  <h:selectOneMenu  requiredMessage="Licence ?" value="#{projetService.typeActivite}" styleClass="form-control select2" converter="typeConverter">
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{referentielService.listTypeActivite}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}" />
			                  </h:selectOneMenu>
			                </div>
			              </div><!-- col-4 -->			            
			              
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Type de licence: </label>
			                  <h:selectOneMenu  requiredMessage="Licence ?" value="#{projetService.typeLicence}" styleClass="form-control select2" converter="typeConverter">
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{referentielService.listTypeLicence}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}" />
			                  </h:selectOneMenu>
			                </div>
			              </div><!-- col-4 -->				              			              
			              
			              <div class="col-lg-4">
			                <div class="form-group">
			                  <label class="form-control-label">Raison sociale: </label>
			                  <h:inputText id="champRaisonSociale" readonly="true" onfocus="$('#popTransporteur').modal('show')" value="#{transporteurService.transporteur.libelle}" styleClass="form-control" />
                              <h:commandLink update="champRaisonSociale" action="#{transporteurService.initTransporteur()}"><i class="fa fa-refresh"></i></h:commandLink>		                
			                </div>
			              </div><!-- col-4 -->
			              

			              
			            	              			              
			              
			            </div>				            		            
			            
					          <div class="form-layout-footer">
					          		<h:commandLink update="form" action="#{voitureService.chercherVoiture()}" class="btn btn-outline-primary"><i class="fa fa-search mg-r-5"></i>Chercher</h:commandLink>
					          </div>
			

			          </div><!-- form-layout -->
			    <br/>
		
		
		          <div class="table-wrapper">
		            <table id="datatable1" class="table display responsive nowrap">
		              <thead>
		                <tr>
		                  <th class="wd-15p">Marque</th>
		                  <th class="wd-20p">Type</th>
		                  <th class="wd-20p">Année</th>
		                  <th class="wd-10p">Places</th>
		                  <th class="wd-10p">N° chassis</th>
		                  <th class="wd-10p">Licence</th>
		                  <th class="wd-10p">Proprietaire</th>
		                </tr>
		              </thead>
		              <tbody>
		 				  <ui:repeat var="cl" value="#{voitureService.listVoiture}">
			                <tr>
			                  <td><h:outputText value="#{cl.modele.typeParent.libelle}"/></td>
			                  <td><h:outputText value="#{cl.modele.libelle}"/></td>
			                  <td><h:outputText value="#{cl.annee}"/></td>
			                  <td><h:outputText value="#{cl.nombrePlace}"/></td>
			                  <td>
			                  		<h:commandLink action="#{voitureService.versFicheVehicule()}">
			                  			<f:setPropertyActionListener value="#{cl}" target="#{voitureService.voiture}"/>
			                  			<h:outputText value="#{cl.numeroChassi}"/>
			                  		</h:commandLink>
			                  </td>
			                  <td><span class="square-8 bg-#{cl.licence.active?'success':'danger'} mg-r-5 rounded-circle"></span></td>
			                  <td><h:outputText value="#{cl.transporteur.libelle}"/></td>
			                </tr>
		                  </ui:repeat>
		              </tbody>
		            </table>
		          </div><!-- table-wrapper -->
		          
		          <div class="form-layout-footer">
		          		<h:commandLink rendered="#{not empty voitureService.listVoiture}"  onclick="apercuPrint()" class="btn btn-outline-primary"><i class="fa fa-print mg-r-5"></i>Imprimer</h:commandLink>
		          </div>		          
		          
		        </div><!-- section-wrapper -->				        

			        
			        		
					</h:form>
					
					<ui:include src="/private/transporteur/popTransporteur.xhtml" />
	        
	        
		
		</ui:define>
	</ui:composition>
</html>
