<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      xmlns:b="http://bootsfaces.net/ui"> 

	<h:head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels"/>
    <meta name="twitter:creator" content="@themepixels"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Slim"/>
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard."/>
    <meta name="twitter:image" content="http://themepixels.me/slim/img/slim-social.png"/>

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/slim"/>
    <meta property="og:title" content="Slim"/>
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard."/>

    <meta property="og:image" content="http://themepixels.me/slim/img/slim-social.png"/>
    <meta property="og:image:secure_url" content="http://themepixels.me/slim/img/slim-social.png"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="600"/>

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard."/>
    <meta name="author" content="ThemePixels"/>

    <title>GTR</title>

    <!-- Vendor css -->
    <link href="/transportsoft/style2/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="/transportsoft/style2/lib/Ionicons/css/ionicons.css" rel="stylesheet"/>

    <!-- Slim CSS -->
    <link rel="stylesheet" href="/transportsoft/style2/css/slim.css"/>

	</h:head>
	<body>

    <h:form class="signin-wrapper">

      <div class="signin-box">
        <h2 class="slim-logo"><a href="index.html">Gestion des Transporteurs Routiers<span></span></a></h2>
        <h2 class="signin-title-primary"></h2>
        <h3 class="signin-title-secondary">Authentifiez-vous pour continuer.</h3>

        <div class="form-group">
          <h:inputText class="form-control" value="#{login.user}" placeholder="Identifiant"/>
        </div><!-- form-group -->
        <div class="form-group mg-b-50">
          <h:inputSecret class="form-control" value="#{login.pwd}" placeholder="Mot de passe"/>
        </div><!-- form-group -->
        <h:commandLink action="#{login.validateUsernamePassword()}" class="btn btn-primary btn-block btn-signin">Connexion</h:commandLink>
      </div><!-- signin-box -->

    </h:form><!-- signin-wrapper -->
    
    <script>
	    var resetTime_int;
		function resetTimer(){
		    if(resetTime_int) window.clearTimeout(resetTime_int)
		    resetTime_int=window.setTimeout(
				function (){
					swal("Veuillez-vous reconnecter...").then((value) => {location.reload();})
			    	}
		    , 1000*60*29)
		}
	
		resetTimer();
		document.onmousemove=resetTimer;
		document.onkeyup=resetTimer;
	</script> 
    <script src="/transportsoft/style2/lib/jquery/js/jquery.js"></script>
    <script src="/transportsoft/style2/lib/popper.js/js/popper.js"></script>
    <script src="/transportsoft/style2/lib/bootstrap/js/bootstrap.js"></script>
    <script src="/transportsoft/style2/js/slim.js"></script>
    <script src="/transportsoft/style2/js/sweetalert.js"></script> 
    </body>
</html>
