<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      xmlns:b="http://bootsfaces.net/ui"> 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Renouvellement de licence</ui:define>
		
		<ui:define name="body">
					<h:form id="form">
					<div class="section-wrapper">
			          <label class="section-title">Ancienne licence</label>
			
			          <div class="form-layout">
		              
			              
				          <div class="table-wrapper">
				            <table id="datatable1" class="table display responsive nowrap">
				                  <thead>
				                    <tr class="tx-10">
				                      <th class="pd-y-5">Activité</th>
				                      <th class="pd-y-5">Transporteurs</th>
				                      <th class="pd-y-5">Début</th>
				                      <th class="pd-y-5">Fin</th>
				                      <th class="pd-y-5 ">Véhicule</th>
				                      <th class="pd-y-5">N° immat.</th>
				                      <th class="pd-y-5 ">Montant</th>
				                    </tr>
				                  </thead>
				                  <tbody>
				                    <ui:repeat var="lic" value="#{voitureService.listLicence}">
				                    <tr>
				                      <td><a href="" class="tx-inverse tx-14 tx-medium d-block">#{lic.typeActivite.libelle}</a></td>
				                      <td class="valign-middle">#{lic.voiture.transporteur.libelle}</td>
				                      <td><h:outputText value="#{lic.dateDebut}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText></td>
				                      <td><h:outputText value="#{lic.dateFin}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText></td>
				                      <td class="valign-middle ">#{lic.voiture.modele.typeParent.libelle} #{lic.voiture.modele.libelle}</td>
				                      <td class="valign-middle">#{lic.voiture.numeroImmat}</td>
				                      <td class="valign-middle tx-center">
				                        <h:outputText value="#{lic.typeLicence.montant}"><f:convertNumber pattern="###,###"/></h:outputText> fcfa
				                      </td>
				                    </tr>
				                    </ui:repeat>
				                    
				                  </tbody>
				            </table>
		
				          </div><!-- table-wrapper -->			              			              
			              		              		              
			            </div><!-- row -->
			            
			            
			            <label class="section-title">Nouvelle licence</label>
			            <div class="row mg-b-25">
			            
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">N°: <span class="tx-danger">*</span></label>
			                  <h:inputText required="true" requiredMessage="N° de la licence ?" value="#{voitureService.licence.numeroLicence}" styleClass="form-control"/>
			                </div>
			              </div><!-- col-4 -->				            
			            
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Type de transport: <span class="tx-danger">*</span></label>
			                  <h:selectOneMenu required="true" requiredMessage="Licence ?" value="#{voitureService.licence.typeActivite}" styleClass="form-control select2" converter="typeConverter">
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{referentielService.listTypeActivite}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}" />
			                  </h:selectOneMenu>
			                </div>
			              </div><!-- col-4 -->			            
			              
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Redevance: <span class="tx-danger">*</span></label>
			                  <h:selectOneMenu required="true" requiredMessage="Licence ?" value="#{voitureService.licence.typeLicence}" styleClass="form-control select2" converter="typeConverter">
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{referentielService.listTypeLicence}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}" />
			                  </h:selectOneMenu>
			                </div>
			              </div><!-- col-4 -->	
			              
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Date de début (jj/mm/yyyy): <span class="tx-danger">*</span></label>
			                  <h:inputText required="true" requiredMessage="Date de début ?" value="#{voitureService.licence.dateDebut}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:inputText>
			                </div>
			              </div><!-- col-4 -->	
			              
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Date de fin (jj/mm/yyyy): <span class="tx-danger">*</span></label>
			                  <h:inputText required="true" requiredMessage="Date de fin ?" value="#{voitureService.licence.dateFin}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:inputText>
			                </div>
			              </div><!-- col-4 -->				              			              
			              
			            </div>				            		            
			            
			            <div class="form-layout-footer">
			              <label class="form-control-label"></label>
			              <h:commandLink update="form" rendered="#{voitureService.licence.id eq null}" action="#{voitureService.saveLicence()}" class="btn btn-primary bd-0">Renouveler</h:commandLink>
			            </div><!-- form-layout-footer -->
			

			          </div><!-- form-layout -->
			        		
					</h:form>
					
					<ui:include src="/private/transporteur/popTransporteur.xhtml" />
	        
	        
		
		</ui:define>
	</ui:composition>
</html>
