<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      xmlns:b="http://bootsfaces.net/ui"> 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Liste des licences actives</ui:define>
		
		<ui:define name="body">
		
		
		
		        <div class="section-wrapper">
		
		
		          <div class="table-wrapper">
		            <table id="datatable1" class="table display responsive nowrap">
		                  <thead>
		                    <tr class="tx-10">
		                      <th class="pd-y-5">N°</th>
		                      <th class="pd-y-5">Type de transport</th>
		                      <th class="pd-y-5">Transporteurs</th>
		                      <th class="pd-y-5">Début</th>
		                      <th class="pd-y-5">Fin</th>
		                      <th class="pd-y-5 tx-right">Marque</th>
		                      <th class="pd-y-5">Type</th>
		                      <th class="pd-y-5 tx-center">Montant</th>
		                    </tr>
		                  </thead>
		                  <tbody>
		                    <ui:repeat var="lic" value="#{voitureService.listLicence}">
		                    <tr>
		                      <td>#{lic.numeroLicence}</td>
		                      <td><a href="" class="tx-inverse tx-14 tx-medium d-block">#{lic.typeActivite.libelle}</a></td>
		                      <td class="valign-middle">#{lic.voiture.transporteur.libelle}</td>
		                      <td><h:outputText value="#{lic.dateDebut}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText></td>
		                      <td><h:outputText value="#{lic.dateFin}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText></td>
		                      <td class="valign-middle tx-right">#{lic.voiture.modele.typeParent.libelle}</td>
		                      <td class="valign-middle">#{lic.voiture.modele.libelle}</td>
		                      <td class="valign-middle tx-center">
		                        <h:outputText value="#{lic.typeLicence.montant}"><f:convertNumber pattern="###,###"/></h:outputText> fcfa
		                      </td>
		                    </tr>
		                    </ui:repeat>
		                    
		                  </tbody>
		            </table>

		          </div><!-- table-wrapper -->
		        </div><!-- section-wrapper -->			
		
		</ui:define>
	</ui:composition>
</html>
