<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      xmlns:b="http://bootsfaces.net/ui"> 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Recherche des licences</ui:define>
		
		<ui:define name="body">
					<h:form id="form">
					<div class="section-wrapper">
			          <label class="section-title">Filtres</label>
			
			          <div class="form-layout">
			            <div class="row mg-b-25">
			              
<!-- 			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Début mise en circulation: </label>
			                  <h:inputText  value="#{voitureService.voiture.dateMiseCirculation}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:inputText>
			                </div>
			              </div>
			              
			              <div class="col-lg-3">
			                <div class="form-group">
			                  <label class="form-control-label">Fin mise en circulation: </label>
			                  <h:inputText  value="#{projetService.date1}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:inputText>
			                </div>
			              </div> -->				              
			              
			              
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Type de transport: </label>
			                  <h:selectOneMenu  requiredMessage="Licence ?" value="#{voitureService.licence.typeActivite}" styleClass="form-control select2" converter="typeConverter">
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{referentielService.listTypeActivite}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}" />
			                  </h:selectOneMenu>
			                </div>
			              </div><!-- col-4 -->			            
			              
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Redevance: </label>
			                  <h:selectOneMenu  requiredMessage="Licence ?" value="#{voitureService.licence.typeLicence}" styleClass="form-control select2" converter="typeConverter">
			                  		<f:selectItem itemLabel="" noSelectionOption="true"/>
			                  		<f:selectItems value="#{referentielService.listTypeLicence}" var="p" itemValue="#{p}" itemLabel="#{p.libelle}" />
			                  </h:selectOneMenu>
			                </div>
			              </div><!-- col-4 -->	
			              
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Gestionnaire: </label>
			                  <h:selectOneMenu value="#{transporteurService.gestionnaire}" styleClass="form-control" converter="utilisateurConverter">
							  	  <f:selectItem itemLabel="Selectionnez un gestionnaire" itemValue="" noSelectionOption="false" />
								  <f:selectItems value="#{referentielService.listUtilisateur}" var="c" itemValue="#{c}" itemLabel="#{c.personne.nomComplet}"/>
							  </h:selectOneMenu>
			                </div>
			              </div>			              
			              
 			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Date de fin entre: </label>
			                  <h:inputText  value="#{voitureService.licence.dateDebut}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:inputText>
			                </div>
			              </div>
			              
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">et: </label>
			                  <h:inputText  value="#{voitureService.licence.dateFin}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:inputText>
			                </div>
			              </div>	
			              
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Active: </label>
			                  <br/><h:selectBooleanCheckbox value="#{voitureService.licence.active}" />
			                </div>
			              </div>				              		              			              			              
			            </div>				            		            
			            
				          <div class="form-layout-footer">
				          		<h:commandLink update="form" action="#{voitureService.chercherLicence()}" class="btn btn-outline-primary"><i class="fa fa-search mg-r-5"></i>Chercher</h:commandLink>
				          </div>
			

			          </div><!-- form-layout -->
			    <br/>
		
		
		          <div class="table-wrapper">
		            <table id="datatable1" class="table display responsive nowrap">
		                  <thead>
		                    <tr class="tx-10">
		                      <th class="pd-y-5">N°</th>
		                      <th class="pd-y-5">Type de transport</th>
		                      <th class="pd-y-5 tx-center">Montant FCFA</th>
		                      <th class="pd-y-5">Début</th>
		                      <th class="pd-y-5">Fin</th>
		                      <th class="pd-y-5 tx-right">Reste (Jours)</th>
		                      <th class="pd-y-5">Type</th>
		                      <th class="pd-y-5">Transporteurs</th>
		                      
		                    </tr>
		                  </thead>
		                  <tbody>
		                    <ui:repeat var="lic" value="#{voitureService.listLicence}">
		                    <tr>
		                      <td>#{lic.numeroLicence}</td>
		                      <td><a href="" class="tx-inverse tx-14 tx-medium d-block">#{lic.typeActivite.libelle}</a></td>
		                      <td class="valign-middle tx-right"><h:outputText value="#{lic.typeLicence.montant}"><f:convertNumber pattern="###,###"/></h:outputText></td>
		                      <td><h:outputText value="#{lic.dateDebut}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText></td>
		                      <td><h:outputText value="#{lic.dateFin}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText></td>
		                      <td class="tx-right">#{lic.duree}</td>
		                      <td class="valign-middle">#{lic.voiture.modele.typeParent.libelle} #{lic.voiture.modele.libelle}</td>
		                      <td class="valign-middle">#{lic.voiture.transporteur.libelle}</td>
		                    </tr>
		                    </ui:repeat>
		                    
		                  </tbody>
		            </table>
		          </div><!-- table-wrapper -->
		          
		          <div class="form-layout-footer">
		          		<h:commandLink rendered="#{not empty voitureService.listLicence}"  onclick="apercuPrint()" class="btn btn-outline-primary"><i class="fa fa-print mg-r-5"></i>Imprimer</h:commandLink>
		          </div>		          
		          
		        </div><!-- section-wrapper -->				        

			        
			        		
					</h:form>
					
	        
	        
		
		</ui:define>
	</ui:composition>
</html>
