<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      xmlns:b="http://bootsfaces.net/ui"> 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Suivi des activités des gestionnaires</ui:define>
		
		<ui:define name="body">
		
		<h:form class="section-wrapper mg-t-20">
		
			          <div class="form-layout">
			            <div class="row mg-b-25">
			              
			              
 			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">Date entre le: </label>
			                  <h:inputText required="true" requiredMessage="Date de début ?" value="#{statService.date1}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:inputText>
			                </div>
			              </div>
			              
			              <div class="col-lg-2">
			                <div class="form-group">
			                  <label class="form-control-label">et le: </label>
			                  <h:inputText  required="true" requiredMessage="Date de fin ?" value="#{statService.date2}" styleClass="form-control"><f:convertDateTime pattern="dd/MM/yyyy" /></h:inputText>
			                </div>
			              </div>	
			              
			            </div>				            		            
			            
				          <div class="form-layout-footer">
				          		<h:commandLink  action="#{statService.chargerStatAgenceSaisie()}" class="btn btn-outline-primary"><i class="fa fa-search mg-r-5"></i>Afficher</h:commandLink>
				          </div>
			          </div>		
			          <br/>
		        
          <div class="row">
            <div class="col-md-6">
                <label class="section-title">Saisie du <h:outputText value="#{statService.date1}"><f:convertDateTime/></h:outputText> au <h:outputText value="#{statService.date2}"><f:convertDateTime/></h:outputText></label>
		            <table id="datatable3" class="table display responsive nowrap">
		                  <thead>
		                    <tr class="tx-10">
		                      <th class="pd-y-40">Gestionnaire</th>
		                      <th class="pd-y-40">Transporteurs ajoutés</th>
		                    </tr>
		                  </thead>
		                  <tbody>
		                    <ui:repeat var="stat" value="#{statService.listStat}">
		                    <tr>
			                  <td class="valign-middle">#{stat.objet}</td>
			                  <td class="valign-middle tx-right"><h:outputText value="#{stat.montant}"><f:convertNumber/></h:outputText></td>
		                    </tr>
		                    </ui:repeat>
		                    
		                  </tbody>
		            </table>
		            
            </div><!-- col -->
            
          </div><!-- row -->
        </h:form>		
		
		</ui:define>
	</ui:composition>
</html>
