<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      xmlns:b="http://bootsfaces.net/ui"> 

	<ui:composition template="../../template/template2.xhtml">
		<ui:define name="titre">Analyse financière</ui:define>
		
		<ui:define name="body">
		
		<div class="section-wrapper mg-t-20">

			<div class="row no-gutters dashboard-chart-one">
	          <div class="col-6">
	            <div class="card card-revenue">
	              <h6>Chiffre d'affaire global</h6>
	              <p>Calculé en temps réel</p>
	              <h1><h:outputText  value="#{voitureService.montant1}"><f:convertNumber pattern="###,###"/></h:outputText> fcfa</h1>
	              <span class="tx-success">Licences déjà payées </span>
	            </div><!-- card -->
	          </div><!-- col-4 -->
	          
	          <div class="col-6">
	            <div class="card card-revenue">
	              <h6>Recette attendue</h6>
	              <p>Calculée en temps réel</p>
	              <h1><h:outputText  value="#{(voitureService.montant2 eq null)?0:voitureService.montant2}"><f:convertNumber pattern="###,###"/></h:outputText> fcfa</h1>
					<span class="tx-danger">Licences à renouveller </span>	            
				</div><!-- card -->
	          </div><!-- col-4 -->	          
	        </div>
		        
          <div class="row">
            <div class="col-md-6">
                <label class="section-title">Par gestionnaire</label>
		            <table id="datatable3" class="table display responsive nowrap">
		                  <thead>
		                    <tr class="tx-10">
		                      <th class="pd-y-40">Gestionnaire</th>
		                      <th class="pd-y-20">CA (FCFA)</th>
		                      <th class="pd-y-40">Transporteurs</th>
		                    </tr>
		                  </thead>
		                  <tbody>
		                    <ui:repeat var="stat" value="#{statService.listStat}">
		                    <tr>
			                  <td class="valign-middle">#{stat.objet}</td>
			                  <td class="valign-middle tx-right"><h:outputText value="#{stat.montant}"><f:convertNumber/></h:outputText></td>
			                  <td class="valign-middle tx-right">#{stat.commentaire}</td>
		                    </tr>
		                    </ui:repeat>
		                    
		                  </tbody>
		            </table>
		            
            </div><!-- col -->
            
            <div class="col-md-6">
                <label class="section-title">Par type de transport</label>
		            <table id="datatable4" class="table display responsive nowrap">
		                  <thead>
		                    <tr class="tx-10">
		                      <th class="pd-y-40">Activité</th>
		                      <th class="pd-y-20">CA (FCFA)</th>
		                      <th class="pd-y-40">Transporteurs</th>
		                    </tr>
		                  </thead>
		                  <tbody>
		                    <ui:repeat var="stat" value="#{statService.listStat4}">
		                    <tr>
			                  <td class="valign-middle">#{stat.objet}</td>
			                  <td class="valign-middle tx-right"><h:outputText value="#{stat.montant}"><f:convertNumber/></h:outputText></td>
			                  <td class="valign-middle tx-right">#{stat.commentaire}</td>
		                    </tr>
		                    </ui:repeat>
		                    
		                  </tbody>
		            </table>
            </div><!-- col -->               
            
            
            <div class="col-md-6">
                <label class="section-title">Par ville</label>
		            <table id="datatable2" class="table display responsive nowrap">
		                  <thead>
		                    <tr class="tx-10">
		                      <th class="pd-y-40">Ville</th>
		                      <th class="pd-y-20">CA (FCFA)</th>
		                      <th class="pd-y-40">Transporteurs</th>
		                    </tr>
		                  </thead>
		                  <tbody>
		                    <ui:repeat var="stat" value="#{statService.listStat2}">
		                    <tr>
			                  <td class="valign-middle">#{stat.objet}</td>
			                  <td class="valign-middle tx-right"><h:outputText value="#{stat.montant}"><f:convertNumber/></h:outputText></td>
			                  <td class="valign-middle tx-right">#{stat.commentaire}</td>
		                    </tr>
		                    </ui:repeat>
		                    
		                  </tbody>
		            </table>
            </div><!-- col -->
            
            
            <div class="col-md-6">
                <label class="section-title">Par province</label>
		            <table id="datatable1" class="table display responsive nowrap">
		                  <thead>
		                    <tr class="tx-10">
		                      <th class="pd-y-40">Province</th>
		                      <th class="pd-y-20">CA (FCFA)</th>
		                      <th class="pd-y-40">Transporteurs</th>
		                    </tr>
		                  </thead>
		                  <tbody>
		                    <ui:repeat var="stat" value="#{statService.listStat3}">
		                    <tr>
			                  <td class="valign-middle">#{stat.objet}</td>
			                  <td class="valign-middle tx-right"><h:outputText value="#{stat.montant}"><f:convertNumber/></h:outputText></td>
			                  <td class="valign-middle tx-right">#{stat.commentaire}</td>
		                    </tr>
		                    </ui:repeat>
		                    
		                  </tbody>
		            </table>
            </div><!-- col -->     
            
            <div class="col-md-6">
                <label class="section-title">Par Type de voiture</label>
		            <table id="datatable5" class="table display responsive nowrap">
		                  <thead>
		                    <tr class="tx-10">
		                      <th class="pd-y-40">Type</th>
		                      <th class="pd-y-20">CA (FCFA)</th>
		                      <th class="pd-y-40">Transporteurs</th>
		                    </tr>
		                  </thead>
		                  <tbody>
		                    <ui:repeat var="stat" value="#{statService.listStat5}">
		                    <tr>
			                  <td class="valign-middle">#{stat.objet}</td>
			                  <td class="valign-middle tx-right"><h:outputText value="#{stat.montant}"><f:convertNumber/></h:outputText></td>
			                  <td class="valign-middle tx-right">#{stat.commentaire}</td>
		                    </tr>
		                    </ui:repeat>
		                    
		                  </tbody>
		            </table>
            </div><!-- col -->  
            
                               
          </div><!-- row -->
        </div>		
		
		
	
		          
		
		</ui:define>
	</ui:composition>
</html>
